/** @format */

@mixin transition {
  transition: all 0.2s ease-in;
}

@mixin fullHeight {
  height: 100vh;
}

@mixin textoverflowEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
}
