/** @format */
@import 'fonts';
@import 'variables-ota';
@import 'variables-ant';
@import 'mixins';

/* headlines */
h3 {
}

/* components */
.ant-btn {
  font-family: 'Fira Sans', sans-serif;
  &:not(.ant-btn-hero) {
    &[ant-click-animating-without-extra-node]:after {
      display: none;
    }
  }

  &-hero {
    border: 2px solid $color-mint;
    color: $color-mint;
    background: transparent;
    &:focus,
    &:hover {
      border: 2px solid $color-white;
      color: $color-white;
      background: transparent;
    }
  }

  &-plain,
  &-plain:focus,
  &-plain:hover {
    border: none;
    background: transparent;
    text-shadow: none;
    font-weight: 400;
    .navbar &,
    .right-nav & {
      color: $color-lightgrey;
      padding: 15px;
    }
  }
  &-plain:focus,
  &-plain:hover {
    .navbar &,
    .right-nav & {
      color: $color-white;
    }
  }
}


.ant-dropdown {
  &-menu-item {
    background: transparent;
    outline: none;
    &:focus,
    &:hover {
      background: transparent;
      outline: none;
    }
    .ant-btn {
      border: none;
      img {
        margin-right: 1em;
      }
      &:hover,
      &:focus {
        color: $color-mint;
      }
    }
  }
}

.ant-modal {
  .ant-tabs,
  .ant-tabs-content {
    height: 100%;
  }
}

.ant-tabs-nav {
  .ant-tabs {
    &-tab-active,
    &-tab:hover,
    &-tab:focus {
      color: $color-mint;
    }
    &-ink-bar {
      background-color: $color-mint;
    }
  }
}

.ant-pagination {
  float: right;
  padding-right: 25px;
  &__wrapper {
    position: fixed;
    bottom: 25px;
    left: 30px;
    right: 30px;
    border-top: 1px solid $color-text-light;
    padding: 5px 0;
    background-color: $color-grey;
  }
  .ant-pagination {
    &-item {
      display: none;
    }
    &-next,
    &-prev {
      margin: 0;
    }

    &-item-link {
      border: none;
      background: transparent;
      color: $color-text-light;
      font-weight: bold;
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
    &-disabled {
      .ant-pagination-item-link {
        &:hover,
        &:focus {
          color: $color-text-light;
        }
      }
    }
    &-total-text {
      font-family: akkurat;
      font-weight: 700;
      color: $color-text-light;
      font-size: smaller;
      padding-top: 2px;
    }
  }
}

.ant-checkbox-input,
.ant-checkbox-wrapper {
  display: flex;
  align-items: center;
  .ant-checkbox-inner {
    border-radius: 0;
  }

  &:focus,
  &:hover {
    + .ant-checkbox-inner, // explicit override
      .ant-checkbox-inner {
      border-color: $primary-color;
      outline: none;
    }
  }
}

[class*='-checked'] {
  .ant-checkbox-inner {
    background: $primary-color;
    border-color: $primary-color;
  }
}

[class^='ant-col-'] {
  padding-right: 15px;
  padding-left: 15px;
}
