/** @format */
@import 'fonts';
@import 'variables-ota';
@import 'variables-ant';
@import 'mixins';

/* headlines */
h3 {
}

/* components */
.ant-avatar {
  &-menu {
    background-color: #1D232D;
    color: #9B9DA2;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 300;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    float: right;
    right: 25px;
  }
}
.ant-btn {
  font-family: 'Fira Sans', sans-serif;
  &:not(.ant-btn-hero) {
    &[ant-click-animating-without-extra-node]:after {
      display: none;
    }
  }

  &-hero {
    border: 2px solid $color-mint;
    color: $color-mint;
    background: transparent;
    &:focus,
    &:hover {
      border: 2px solid $color-white;
      color: $color-white;
      background: transparent;
    }
  }

  &-add-registered-user {
    border: 2px solid $color-mint;
    color: $color-mint;
    background: transparent;
    float: right;
    margin-right: 10px;
    &:focus {
      border: 2px solid $color-mint;
      color: $color-mint;
      background: transparent;
    }
    &:hover {
      border: 2px solid $color-darkgrey;
      color: $color-darkgrey;
      background: transparent;
    }
  }

  &-hero.drop-down {
    border: 2px solid $color-lightgrey;
    color: $color-white;
  }

  &-hero.organization-namespace {
    font-size: 12px;
    height: 24px;
    padding: 0 6px;
    @media only screen and (max-width: 1430px) {
      font-size: 9px;
    }
    & > span {
      &:first-of-type {
        max-width: 170px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;
        @media only screen and (max-width: 1430px) {
          font-size: 9px;
          max-width: 80px;
        }
      }
    }
  }

  &-plain,
  &-plain:focus,
  &-plain:hover {
    border: none;
    background: transparent;
    text-shadow: none;
    font-weight: 400;
    .navbar &,
    .right-nav & {
      color: $color-lightgrey;
      padding: 15px 0px;
    }
  }
  &-plain:focus,
  &-plain:hover {
    .navbar &,
    .right-nav & {
      color: $color-white;
    }
  }
}

.ant-divider {
  &-horizontal {
    margin: 10px 0px;
  }
}

.ant-dropdown {
  &-menu-item {
    background: transparent;
    outline: none;
    &:focus,
    &:hover {
      background: $color-mint2;
      outline: none;
    }
    &--clear {
      &:hover {
        background: transparent;
      }
    }
    .ant-btn {
      border: none;
      img {
        margin-right: 1em;
      }
      &:hover,
      &:focus {
        color: $color-mint;
      }
    }
  }
}

.ant-modal {
  .ant-tabs,
  .ant-tabs-content {
    height: 100%;
  }
}

.ant-tabs-nav {
  .ant-tabs {
    &-tab-active,
    &-tab:hover,
    &-tab:focus {
      color: $color-mint;
    }
    &-ink-bar {
      background-color: $color-mint;
    }
  }
}

.ant-pagination {
  float: right;
  padding-right: 25px;
  &__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $color-text-light;
    padding: 0;
    background-color: $color-grey;
  }
  .ant-pagination {
    &-item {
      display: none;
    }
    &-next,
    &-prev {
      margin: 0;
    }

    &-item-link {
      border: none;
      background: transparent;
      color: $color-text-light;
      font-weight: bold;
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
    &-disabled {
      .ant-pagination-item-link {
        &:hover,
        &:focus {
          color: $color-text-light;
        }
      }
    }
    &-total-text {
      font-family: akkurat;
      font-weight: 700;
      color: $color-text-light;
      font-size: smaller;
      padding-top: 2px;
    }
  }
}

.ant-checkbox-input,
.ant-checkbox-wrapper {
  display: flex;
  align-items: center;
  .terms & {
    align-items: flex-start;
    margin-right: 10px;
  }

  .ant-checkbox-inner {
    border-radius: 0;
  }

  &:focus,
  &:hover {
    + .ant-checkbox-inner, // explicit override
      .ant-checkbox-inner {
      border-color: $primary-color;
      outline: none;
    }
  }
}

[class*='-checked'] {
  .ant-checkbox-inner {
    background: $primary-color;
    border-color: $primary-color;
  }
}

[class^='ant-col-'] {
  padding-right: 15px;
  padding-left: 15px;
}

.ant-tooltip {
  font-family: 'Fira Sans', sans-serif;
}


.ant-radio {
  vertical-align: baseline;
}

.ant-radio-inner:after {
  background-color: $primary-color;
}

.ant-radio-checked .ant-radio-inner {
  border-color: $primary-color;
}

.ant-radio-input:focus+.ant-radio-inner {
  border-color: $primary-color;
}

.ant-radio:hover .ant-radio-inner {
  border-color: $primary-color;
}
