/** @format */

@import 'variables-ant';

/* Color variables */
$color-mint: #48dad0;
$color-mint2: #7de9da;
$color-lightgrey: #888;
$color-darkgrey: #444;
$color-orange: #fa9872;
$color-grey: #eee;
$color-white: #fff;
$color-text-light: #9fa2a6;
$color-background-gray: #3f454d;
$color-option-highlighted: #F8F8F8;
$color-option-border: #F2F2F2;
$color-option-text: rgba(15,22,33,0.8);

/* colors extended */
$button-outline-color: #76E3DC;
$dashboard-bg: #0f1621;
$dashboard-grey: #9b9da2;
$dashboard-header-text: #6a6d74;
$dashboard-header-button: $primary-color;

$devices-groups-bg: $color-background-gray;
$devices-group-inactive: #b7b9bc;
$devices-group-text: #9fa2a6;
$device-hardware-header: #898b91;
$fake-header-text: #272d37;
$switch-blue-color: #00afaa;
$device-item-bg: #f3f3f4;
$device-active-item-bg: #cfd0d3;
$device-properties-text: #202020;
$device-pack-installed-bg: $success-color;
$device-pack-queued-bg: $warning-color;
$device-pack-auto-update: #00a19d;
$campaigns-cancel-color: $error-color;
$campaign-details-text: #707070;
$progress-default-color: #44ca9d;
$panel-delimiter-color: $dashboard-bg;
$section-header-border-color: #8a8b90;
$add-button-grey: #e7e7e8;
$edit-profile-border: #ebebeb;
$hardware-overlay-item-color: #4a4a4a;
$hardware-overlay-underline: rgba(215, 216, 218, 0.5);
$hardware-overlay-menu-active: rgba(15, 22, 33, 0.8);
$hardware-overlay-menu-inactive: rgba(15, 22, 33, 0.4);
$dashboard-heading-bg: #d7d8da;
$dashboard-step-bg: rgba(243, 243, 243, 0.5);
$page-title-color: rgba(15, 22, 33, 0.8);
$edit-profile-section-header: #e4e6e9;
$edit-profile-section-border: rgba(215, 216, 218, 0.5);
$hardware-overlay-border: rgba(15, 22, 33, 0.1);
$sw-repo-border-color: #cfd0d3;
$confirm-modal-title: #d0021b;
$olp-group-layer: $warning-color;
$description-error: #cf001a;

//size constants
$navigation-bar-height: 50px;
$navigation-bars-height: 80px;
$footer-info-height: 60px;
$profile-header-height: 180px;
$profile-empty-container-height: 100px;
$main-content-height: calc(100vh - #{$navigation-bars-height} - #{$footer-info-height});
$main-content-height-profile: calc(100vh - #{$navigation-bars-height} - #{$footer-info-height} - #{$profile-header-height});
$main-content-height-keys-empty: calc(100vh - #{$navigation-bars-height} - #{$footer-info-height} - #{$profile-header-height} - #{$profile-empty-container-height});

//campaign stats
$campaign-success-color: #44CA9D;
$campaign-queued-color: #FA9D00;
$campaign-failure-color: #C41C33;
$campaign-notProcessed-color: #d8d8d8;
$campaign-notImpacted-color: #9FA2A6;
$campaign-cancelled-color: #6F737A;


  /* Application icons */
$here-logo: '/assets/img/HERE_Logo_2016.png';

$car-image-url: '/assets/img/new-app/24/devices-active-outline-24.svg';
$sedan-image-url: '/assets/img/icons/vehicle_01--active.svg';
$hatchback-image-url: '/assets/img/icons/vehicle_02--active.svg';
$eh0-image-url: '/assets/img/icons/vehicle_03--active.svg';
$sport-image-url: '/assets/img/icons/vehicle_04--active.svg';
$sw-image-url: '/assets/img/icons/vehicle_05--active.svg';
$group-default-image-url: '/assets/img/new-app/24/device-group-active-outline-24.svg';
$group-active-image-url: '/assets/img/new-app/24/device-group-active-outline-24.svg';
$group-smart-image-url: '/assets/img/new-app/24/LUI-icon-pd-device_group_smart_filter-outline-24-white.svg';
$group-smart-active-image-url: '/assets/img/new-app/24/LUI-icon-pd-device_group_smart_filter-outline-24-white.svg';
$group-default-dark-image-url: '/assets/img/new-app/24/device-group-inactive-outline-24.svg';
$group-smart-dark-image-url: '/assets/img/new-app/24/LUI-icon-pd-device_group_smart_filter-outline-24-inactive.svg';
$olp-group-link: '/assets/img/icons/Link_Icon.svg';

$device-status-error: '/assets/img/icons/red_cross.svg';
$device-status-success: '/assets/img/icons/green_tick.svg';
$device-status-pending: '/assets/img/icons/orange_exclamation.svg';
$device-status-unknown: '/assets/img/icons/grey_questionmark.svg';
$device-queue-icon: '/assets/img/icons/queue_icon.svg';
$device-secondary-questionmark-active: '/assets/img/icons/white/questionmark.svg';

$sequencer-rollback-item: '/assets/img/icons/white/rollback_sequencer.svg';
$sequencer-rollback-all: '/assets/img/icons/white/rollback_all_sequencer.svg';
$sequencer-skip-item: '/assets/img/icons/white/skip_sequencer.svg';
$sequencer-cancel-all: '/assets/img/icons/white/cancel_sequencer.svg';

$sw-repo-preson-default: '/assets/img/icons/sw_person.svg';
$sw-repo-preson-active: '/assets/img/icons/sw_person_active.svg';
$sw-repo-preson-hover: '/assets/img/icons/person-hover.png';
$sw-repo-error: '/assets/img/icons/error.svg';
$sw-repo-warning: '/assets/img/icons/warning.svg';
$sw-repo-exclamation-triangle: '/assets/img/icons/exclamation_triangle.png';
$sw-repo-error-square: '/assets/img/icons/error_square.png';

$blocklist-default: '/assets/img/icons/ban_grey.png';
$blocklist-active: '/assets/img/icons/ban_red.png';

$campaign-icon: '/assets/img/icons/black/campaigns.png';
$dropdown-trash: '/assets/img/icons/dropdown_trash.svg';
$dropdown-edit: '/assets/img/icons/dropdown_edit.svg';
$dropdown-dependencies: '/assets/img/icons/dropdown_depdendencies.svg';
$update-external: '/assets/img/icons/update-external.svg';
$update-internal: '/assets/img/icons/update-internal.svg';
$bell-icon: '/assets/img/icons/bell.svg';
