/** @format */

// ant-design's theming variables

$primary-color: #48dad0; // primary color for all components
$link-color: #48dad0; // link color
$success-color: #06b87c; // success state color
$warning-color: #fa9d00; // warning state color
$error-color: #c41c33; // error state color

$font-size-base: 14px; // major text font size
$heading-color: #9b9da2; // heading text color
$text-color: #6a6d74; // major text color
$text-color-secondary: #9fa2a6; // secondary text color
$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
$border-radius-base: 4px; // major border radius
$border-color-base: #ebebeb; // major border color
$box-shadow-base: 0 3px 4px 0 rgba(0, 0, 0, 0.5); // major shadow for layers
