.campaigns-wizard {

  .draggable-content {

    .internal-body {
      background: #fff;

      .wizard-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid rgba(215, 216, 218, 0.5);
        padding: 20px 0 0;
      }

      .content-step {
        overflow-y: auto;
        height: 45vh;

        .row {
          margin: 10px 0;
          &:last-of-type {
            margin-bottom: 0;
          }
        }

        .col-xs-12 {
          padding-left: 0;
          padding-right: 0;
        }
        .col-xs-6:nth-of-type(odd) {
          padding-left: 0;
        }
        .col-xs-6:nth-of-type(even) {
          padding-right: 0;
        }

        .alert {
          margin-bottom: 0;
        }

        .targets-container {
          margin-top: 20px;
          .hardware-container {
            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
          }
        }

        &.step-updates, &.step-groups {
          .wrapper-infinite-scroll {
            height: calc(45vh - 60px);
            max-height: 450px;
          }
          .c-form {
            padding: 17px 0 7px;
          }

          .ios-list {
            height: 100%;

            .header, .fake-header {
              padding-left: 15px;
              padding-right: 15px;
              color: #464646;
              background-color: #B7B9BC;
              display: flex;
              align-items: center;
              height: 20px;
            }

            .item {
              padding-left: 15px;
              padding-right: 15px;
              font-weight: 300;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background-color: #fff;
              @include textoverflowEllipsis;

              &__info {
                .name {
                  margin-right: 20px;
                }
              }

              &__details {
                justify-content: flex-end;
              }

              .btn-checkbox {
                float: left;
                margin: 0 10px 0 0;
                i {
                  font-size: 14px;
                }
              }
            }
          }
        }

        &.step-groups {
          overflow-y: hidden;

          form {
            height: 50px;
          }

          .ios-list {
            overflow-y: auto;
            height: calc(100% - 50px);

            .item {
              height: auto;

              .element-box {
                display: flex;
                padding: 20px 10px;
                &.group {
                  width: calc(100% - 70px);
                  height: auto;
                  margin: 0;

                  .desc {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    width: calc(100% - 80px);

                    .title {
                      @include textoverflowEllipsis;
                    }
                  }
                }
                &.olpgroup {
                  width: 100%;
                  justify-content: space-between;

                  .icon {
                    background: url($olp-group-link ) 50% 50% no-repeat ;
                    margin: 0;
                
                  }

                  .desc {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                
                  .title {
                      @include textoverflowEllipsis;
                      font-weight: 500;
                    }
                  .subtitle {
                    padding: 10px 0;

                    &>* {
                      box-sizing: border-box;
                      padding: 3px 15px;
                    }
              
                    & .layer {
                      border-radius: 5px;
                      color: white;
                      background-color: $olp-group-layer;
                    }
                    & .versioned {
                   
                      color: $olp-group-layer;
                      border: 1px solid $olp-group-layer;
                      border-radius: 5px;
                      margin-left: 10px
                    }

                  }
                  }
                  
                }
              }
            }
          }
        }

        .distribution-info {
          padding: 15px 0;

          .description {
            .c-form__input {
              padding: 10px 10px 10px 35px;
            }
            i.icon-search, .icon-close {
              color: #000;
              top: 15px;
            }
          }

          .flex-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 0;

            .btn-bordered {
              width: 250px;
              height: 36px;
              font-size: 14px;
            }

            .btn-radio {
              margin: 0 10px 0 0;
            }
          }

          .translations {
            .flex-row {
              justify-content: space-between;
            }

            .bold {
              font-weight: 500;
            }
          }

          .estimations {
            border-top: 1px solid #EBEBEC;
            padding: 10px 0;

            .title {
              margin-right: 50px;
            }

            .estimation {
              padding: 5px 0;
              width: 40%;
              justify-content: space-between;
              align-items: center;
              display: flex;

              .time-value {
                display: inline-block;
                background-color: #EBEBEC;
                width: 70px;
                .c-form__input {
                  padding: 5px;
                  font-size: 12px !important;
                }
              }
            }
          }
        }

        &.step-dependencies-management {

          .content {
            height: 100%;

            .wrapper-center {
              height: calc(100% - 60px);
            }

            .step-pass {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              color: #83d062;
              font-size: 16px;

              img {
                width: 100px;
                margin-bottom: 15px;
              }
            }

            .top-alert {
              padding: 15px;
              color: #fff;
              font-size: 16px;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                margin-right: 10px;
                width: 30px;
              }

              &.danger {
                background-color: #ff0100;
              }

              &.warning {
                background-color: #FA9D00;
              }

              &.success {
                background-color: #83d062;
              }
            }

            section.pair {
              padding: 20px 0;
              overflow: hidden;

              &:not(:last-child) {
                margin-bottom: 20px;
                border-bottom: 1px solid #e5e5e5;
              }

              .item {
                overflow: hidden;
                display: flex;
                align-items: center;

                &:not(:last-child) {
                  margin-bottom: 20px;
                }

                .title {
                  margin-bottom: 10px;
                }

                .name {
                  width: 35%;
                  margin-right: 15%;
                  float: left;
                  padding-bottom: 5px;
                  border-bottom: 1px solid #e0e0e0;
                  font-weight: bold;

                  .value {
                    @include textoverflowEllipsis;
                  }
                }

                .version {
                  width: 35%;
                  margin-right: 15%;
                  float: left;
                  font-weight: bold;

                  &:not(.select) {
                    padding-bottom: 5px;
                    border-bottom: 1px solid #e0e0e0;
                  }

                  &.select {

                    .title {
                      margin-bottom: 15px;
                    }
                  }

                  .value {
                    @include textoverflowEllipsis;
                  }
                }
              }

              .add {
                float: right;
              }

              .status {
                font-weight: 500;
                margin-bottom: 20px;
                font-size: 12px;

                &.required {
                  color: #f5a623;
                }

                &.incompatible {
                  color: #ff0100;
                }
              }
            }
          }
        }

        &.step-programming-sequencer {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;

          .c-sequencer__end-point, .c-sequencer__starter-point {
            min-height: inherit;
          }
          .c-sequencer__item {
            overflow: visible;
          }
        }

        &.step-summary {
          .step-inner {
            height: 100%;
            padding: 8px;

            .wrapper-groups {
              padding: 20px 0 20px 0;
              position: relative;
              overflow-y: auto;
              flex-wrap: wrap;
              display: flex;

              .element-box {
                width: 33.3333333%;
                height: 60px;
                padding: 0;

                &.group {
                  display: flex;

                  .icon {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                  }
                }
              }
            }

            &.groups {
              position: relative;
            }
          }
        }

        .element-box {
          border: 0;
          display: inline-block;

          &:hover {
            background: transparent;
          }

          &.group {
            .icon {
              background: url($group-default-image-url) 50% 50%;
              border: 1px solid #B9B9B9;
              margin: 0;
              border-radius: 6px;
              width: 50px;
              height: 50px;
            }

            .desc {
              margin: 0 0 0 15px;
              float: none;
              display: inline-block;

              .title {
                font-size: 13px;
                line-height: 14px;
              }
            }
          }
        }

        .box-summary {
          margin-top: 20px;
          padding: 0 20px;

          .title {
            font-weight: bold;
            font-size: 18px;
          }

          .desc {

            .package-container {
              overflow: hidden;
              padding-bottom: 15px;
              border-bottom: 2px solid #ddd;
              margin: 15px 0;

              .update-container {
                overflow: hidden;

                .update-from {
                  width: 46%;
                  float: left;
                  margin-right: 4%;
                }

                .update-to {
                  width: 50%;
                  float: left;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }

                .text {
                  font-weight: bold;
                  margin-bottom: 10px;
                }

                .value {
                  margin-bottom: 15px;
                  @include textoverflowEllipsis;
                }
              }

              .hardware-id-container {
                overflow: hidden;
                width: 50%;
                float: right;

                .text {
                  font-weight: bold;
                  margin-bottom: 10px;
                }

                .value {
                  @include textoverflowEllipsis;
                }

                .hardware-label {
                  color: $color-darkgrey;
                  font-size: 12px;
                  background: transparent;
                  padding: 0px 10px;
                  border-radius: 10px;
                  display: inline-block;
                  border: 1px solid #444;
                }
              }
            }
          }
        }
      }
    }

    .step-wrapper {
      padding: 20px 0;
    }

    .stepper {
      padding: 0 30px 30px 30px;
      border-bottom: 1px solid rgba(215, 216, 218, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper-steps-no {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .step {
    width: 90px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .complete {
      & > .progress {
        & > .progress-bar {
          width: 100%;
        }
      }
    }

    & > .stepnum {
      color: #ccc;
      font-size: 12px;
      text-align: center;
      padding: 0 5px;
      max-width: 77px;
      margin: 20px 0 0 0;
      line-height: 16px;
    }

    & > .dot {
      color: #ccc;
      font-size: 16px;
      width: 40px;
      height: 40px;
      background: #E7E7E8;
      padding: 2px 0 0 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover, &:active, &:focus {
        text-decoration: none;
      }
    }

    & > .progress {
      background: #ddd;
      height: 1px;
      padding: 0;
      border: 0;
      position: relative;
      border-radius: 0;
      box-shadow: none;

      & > .progress-bar {
        width: 0;
        box-shadow: none;
        background: #ddd;
      }
    }

    &.active {
      & > .progress {
        & > .progress-bar {
          width: 50%;
        }
      }

      & > .stepnum {
        color: #888;
      }

      & > .dot {
        color: #fff;
        background: #00AFAA;
        border-color: transparent;
      }
    }

    &:first-child {
      & > .progress {
        left: 50%;
        width: 50%;
      }

      &.active {
        & > .progress {
          & > .progress-bar {
            width: 0%;
          }
        }
      }
    }

    &:last-child {
      & > .progress {
        width: 50%;
      }

      &.active {
        & > .progress {
          & > .progress-bar {
            width: 100%;
          }
        }
      }
    }

    &.disabled {
      a {
        &.dot {
          pointer-events: none;
        }
      }

      & > .dot {
        background-color: #9DDCD3;

        &:after {
          opacity: 0;
        }
      }
    }
  }
}