@font-face {
    font-family: akkurat;
    src: url(/assets/fonts/Akkurat-Regular/AkkuratStd.eot?#iefix) format("embedded-opentype"),
         url(/assets/fonts/Akkurat-Regular/AkkuratStd.otf) format("opentype"),
         url(/assets/fonts/Akkurat-Regular/AkkuratStd.woff) format("woff"),
         url(/assets/fonts/Akkurat-Regular/AkkuratStd.ttf) format("truetype"),
         url(/assets/fonts/Akkurat-Regular/AkkuratStd.svg#AkkuratStd) format("svg");
    font-weight: 400;
    font-style: normal;
}