@font-face {
  font-family: akkurat;
  src: url(/assets/fonts/Akkurat-Regular/AkkuratStd.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Akkurat-Regular/AkkuratStd.otf) format("opentype"),
  url(/assets/fonts/Akkurat-Regular/AkkuratStd.woff) format("woff"),
  url(/assets/fonts/Akkurat-Regular/AkkuratStd.ttf) format("truetype"),
  url(/assets/fonts/Akkurat-Regular/AkkuratStd.svg#AkkuratStd) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(/assets/fonts/FiraSans/FiraSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(/assets/fonts/FiraSans/FiraSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(/assets/fonts/FiraSans/FiraSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

.btn-primary {
  transition: all 0.4s ease;
  border-radius: 0;
  color: #fff!important;
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  height: 36px;
  border: none;
  width: 126px;
  background-color: #48DAD0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  &:hover {
    background-color: #48DAD0;
    border: none;
  }
  &:active {
    background-color: #48DAD0;
    border: none;
    &:focus {
      background-color: #48DAD0;
      border: none;
    }
  }
  &:focus {
    background-color: #48DAD0;
    border: none;
  }
  &:disabled {
    background-color: #9ce2d8;
    &:hover {
      background-color: #9ce2d8;
      border: none;
    }
  }
}

.btn-bordered {
  background: transparent;
  border: 1px solid #48dad0;
  color: #48dad0;
  padding: 5px 12px;
}

.btn-red {
  background: #ff0000 !important;
}

.c-form {
  display: flex;
  flex-direction: column;
  position: relative;

  &__relative-input {
    position: relative;

    .c-form__input {
      padding: 10px 40px 10px 10px;
    }
  }

  &__label {
    color: #0F1621;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    margin-left: 10px;
    height: 13px;
    width: 13px;
    background-color: #00AFAA;
    border-radius: 50%;
    padding: 6px;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }

  &__input-wrapper {
    width: 100%;
    background-color: #ebebec;
    box-sizing: border-box;
    position: relative;
    display: flex;
  }

  &__input {
    background-color: #ebebec;
    padding: 10px;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    color: #0F1621;
    font-size: 12px;
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all .4s ease;
    resize: none;

    &--hide-caret {
      color: transparent;
      text-shadow: 0 0 0 #84878d;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: #CFD0D3;
      color: #000;
    }
  }

  &__select {
    position: absolute;
    left: 0;
    top: 67px;
    width: 100%;
    z-index: 99999;
    border: none;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
  }

  &__select-icon {
    position: absolute;
    color: #00AFAA;
    top: 50%;
    margin-top: -7px;
    right: 15px;
    &.fa-check {
      font-size: 14px;
    }
  }

  &__option {
    padding: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    &--selected {
      position: relative;
      &:before {
        content: "\f00c";
        font-family: FontAwesome;
        right:10px;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
      }
    }
  }
}

.c-time-picker {
  &__time-value {
    padding:5px;
    div {
      display: inline-block;
    }
  }

  &__hours, &__minutes, &__seconds {
    position: relative;
  }

  select {
    position: absolute;
    top:20px;
    left:-5px;
  }
}

.dialog .row {
  margin-top: 10px;
  margin-bottom: 10px;
}