$color-mint: #48DAD0;;
$color-mint2: #7de9da;
$color-lightgrey: #888;
$color-darkgrey: #444;
$color-orange: #fa9872;
$color-grey: #eee;
$color-white: #fff;

/* Redesign vars */
$home-bg: #0F1621;
$home-grey: #9B9DA2;
$home-header-text: #6A6D74;
$home-header-button: #48DAD0;

$devices-groups-bg: #3F454D;
$devices-group-inactive: #B7B9BC;
$devices-group-text: #9FA2A6;
$device-hardware-header: #898B91;
$fake-header-text: #272D37;
$switch-blue-color: #00AFAA;
$device-item-bg: #F3F3F4;
$device-active-item-bg: #CFD0D3;
$device-properties-text: #202020;
$device-pack-installed-bg: #06B87C;
$campaigns-cancel-color: #C41C33;
$campaign-details-text: #707070;
$progress-default-color: #44CA9D;
$panel-delimiter-color: $home-bg;
$section-header-border-color: #8A8B90;