.dialog {
    .content {
        .heading {
            color: #fff !important;
            font-size: 18px !important;
            text-align: center !important;
            background: #4B5151 !important;
            height: 50px !important;
            padding: 10px 15px !important;
            border: 0 !important;
            display: block !important;
        }

        .body {
            color: $color-darkgrey !important;
            font-size: 14px !important;
            padding: 20px 20px 15px 20px !important;
        }

        .actions {
            padding: 20px !important;
        }

        .body-actions {
            padding: 30px 0 0 0;
            margin: 30px 0 0 0;
            border-top: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .btn-main {
                float: right;
            }
        }
    }

    &.tooltip-credentials {
        .content {
            width: 500px !important;
        }
    }
}

.btn-main {
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.3 !important;
    background: #9ce2d8 !important;
    height: auto !important;
    padding: 15px 40px !important;
    border: 0 !important;
    border-radius: 30px !important;
    overflow: hidden !important;
    transform: translate3d(0, 0, 0) !important;
    @include transition;

    &:hover {
        background: $color-mint2 !important;
    }

    &:disabled {
        opacity: 0.65 !important;
    }

    &.btn-small {
        font-size: 12px !important;
        padding: 6px 20px !important;
    }

    span {
        font-size: 16px !important;
        text-transform: none !important;
        padding: 0 !important;
    }

    &.btn-small {
        span {
            font-size: 12px !important;
        }
    }

    &.btn-red {
        color: #fff !important;
        background: #ff0000 !important;
    }

    &.btn-add {
        & > div {
            display: inline-block;
        }

        &:before {
            font-family: FontAwesome;
            content: "\f067";
            display: inline-block;
            padding-right: 5px;
            vertical-align: middle;
        }
    }
}

.btn-dashed {
    color: $color-mint !important;
    background: transparent !important;
    height: auto !important;
    padding: 14px 35px !important;
    border: 2px dashed $color-mint !important;
    border-radius: 5px !important;
    @include transition;

    &:hover {
        color: #fff !important;
        background: $color-mint !important;
    }

    span {
        font-size: 22px !important;
        text-transform: none !important;
    }

    & > div {
        display: inline-block;
    }

    &:before {
        font-family: FontAwesome;
        font-size: 22px;
        content: "\f067";
        display: inline-block;
        vertical-align: middle;
    }
}

.input-wrapper {
    width: 100% !important;
    vertical-align: top !important;
    position: relative !important;

    &.date-wrapper {
        & > div {
            &:nth-child(1) {
                width: 100% !important;
            }
        }
    }
}

#icon-profile-min {
    width: 30px !important;
    height: 30px !important;
}