@import 'common.scss';

$font: "akkurat";
$color-blue: #A6E6DF;
$color-red: #d66f6f;
$color-mint: #9ce2d8;
$color-mint-active: #7de9da;
$footer-panel-bg-color: #282828;

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none !important;
}

*:focus {  
    text-decoration: none;
}

button:focus {
    outline: none;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    color: #fff;
    font: normal 13px $font;
    background: url('/assets/img/door.jpg') top center no-repeat;
    background-size: cover;
    height: 100%;
}

a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}

#logo {
    width: 70px;
    margin: 80px 0 50px 0;
}

.login {
    background: #F3F3F4;    

    #ats-page {
        min-height: 600px;
        height: 100%;
        position: relative;

        .container {
            padding: 0 0 60px 0;
            position: absolute;
            top: calc(50% + 55px);
            left: 50%;
            transform: translate(-50%, -50%);

            .login-content {
                width: 450px;
                margin: 0 auto;
            }
        }
    }
}

#ats-page {
    #logo {
        width: 100px;
        margin: 50px 0;
    }
    .info {
        text-align: center;

        .header {
            font-size: 20px;
            margin-bottom: 50px;

            .welcome {
                font-size: 30px;
                margin-bottom: 25px;
            }
        }

        .box {
            margin-top: 40px;
            padding: 25px;
            border: 1px solid #fff;
            font-size: 16px;
            width: 55%;
            margin: auto;

            a {
                margin-top: 10px;
                display: block;
                text-decoration: underline;
            }
        }

        .log-in {
            a {
                width: 250px;
                display: inline-block;
                color: #333!important;
                font-size: 16px!important;
                font-weight: 700!important;
                line-height: 1.3!important;
                background: #9ce2d8!important;
                height: auto!important;
                padding: 15px 40px!important;
                border: 0!important;
                border-radius: 30px!important;
                overflow: hidden!important;
                transform: translateZ(0)!important;
                transition: all .2s ease-in;
            }
        }
    }

    .top-alert {
        text-align: center;
        height: 75px;
        background: #FB9773;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 10px 25px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        img {
            margin-right: 15px;
            width: 40px;
        }
    }

    .privay-notification {
        text-align: center;
        background: #48dad0;
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: #000;
        z-index: 1;
        cursor: pointer;

        .content {
            width: 70%;
            margin: auto;

            @media(max-width: 1550px) {
                width: 80%;
            }

            @media(max-width: 1366px) {
                width: 85%;
            }

            @media(max-width: 1280px) {
                width: 100%;
            }

            .title {
                font-size: 21px;
                display: flex;
                justify-content: center;

                .fa {
                    display: none;
                    display: block;
                    margin-left: 10px;

                    &.fa-angle-up {
                        display: none;
                    }
                }
            }
            .text {
                font-size: 11px;
                line-height: 1.5;
                margin-top: 15px;
                display: none;
            }
            a {
                font-size: 11px;
                color: #000;
                text-decoration: underline;
            }
        }
    }

    .maintenance-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 75px);

        .notificaiton {
            text-align: center;
            
            .header {
                font-size: 30px;
                width: 450px;
                margin: auto;
            }

            .construction {
                margin-bottom: 50px;

                img {
                    width: 150px;
                }
            }
        }
    }
    
}

.error-page, .welcome-page {
    height: calc(100% - 130px);
}

input.error {
    border-color: $color-red !important;
}

label.error {
    color: #fff;
    font-weight: lighter;
    margin: 5px 0 0 0;

    .fa {
        color: $color-red;
    }
}

.footer-panel {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
    z-index: 999; 

    .clickme {
        text-align: center;
        background: $footer-panel-bg-color; 
        width: 300px;
        padding: 10px 15px;
        margin: 0 auto;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        display: block;
    }

    @media screen and (max-width: 730px) {
        width: 100%;
    }
}

/* Auth0 */
.auth0-lock-header-bg, .auth0-lock-header-bg-blur, .auth0-lock-cred-pane, .auth0-lock-header {
    background: transparent!important;
}

.auth0-lock-header {
    height: auto!important;
    border-bottom: 1px solid #4A4A4A!important;
    padding: 0!important;
}

.auth0-lock-header-logo {
    margin-bottom: 20px!important;
}

.auth0-lock-name, .auth-lock-social-buttons-pane span {
    font-size: 21px!important;
    color: #3F454D!important;
}

.auth0-lock-pane-separator + div p:first-child {
    font-size: 18px!important;
    color: #3F454D!important;
}

.auth0-lock-widget {
    width: 100%!important;
    font-family: "Fira Sans"!important;
}

.auth0-lock-social-button {
    border-radius: 8px!important;
}

.auth0-lock-input-wrap {
    background: #fff!important;
}

.auth0-lock-submit {
    background: #48DAD0!important;
    font-size: 22px!important;
    text-transform: none!important;

    &:hover {

        span {
            transform: none!important;
        }
    }
}

.auth0-label-submit span {
    display: none!important;
}

.auth0-lock-alternative {
    text-align: right!important;
    margin-top: 0!important;
}

.auth0-lock-alternative-link {
    font-size: 10px!important;
    text-decoration: underline!important;
}

.auth0-lock-content {
    padding: 20px 0 40px 0!important;
}

.auth0-lock-input-show-password {
    margin-bottom: 0!important;
}

.auth0-register-link {
    background: #48DAD0!important;
    font-size: 16px;
    height: 40px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 20px 0;
}