@import com.advancedtelematic.auth.OAuthConfig
@import com.advancedtelematic.controllers.UiToggles
@import play.filters.csrf.CSRF
@(csrf: Option[CSRF.Token], scriptSrc: String)()(implicit req: RequestHeader)
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HERE OTA Connect New</title>
    <meta name="description" content="HERE OTA Connect New">
    <meta name="keywords" content="garage">
    <link rel="icon" href="/assets/img/icons/favicon.ico" type="image/x-icon" />
    <link href="/assets/css/index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <form id="logout" action="/logout">
    </form>
    <input type="hidden" id="csrf-token-val" value="@csrf.get.value"/>
    <div id="app"></div>
    @if(scriptSrc.isEmpty) {
      <script src="@routes.Assets.versioned("js/app-new.js")"></script>
    } else {
      <script src="@scriptSrc/app-new.js"></script>
    }
  </body>
</html>
