#page-devices {
    height: calc(100vh - 100px);
    background: $home-bg;

    .groups-panel {
        background: $devices-groups-bg;
        width: 350px;
        height: 100%;
        float: left;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            padding: 0 30px;
            color: $devices-group-inactive;
            font-size: 12px;
            text-transform: uppercase;
        }

        .wrapper-groups {
            height: calc(100% - 90px);
            overflow-y: auto;

            .group-btn {
                color: $devices-group-text;
                text-align: left;
                width: 100%;
                height: 90px;
                position: relative;
                overflow: hidden;
                @include transition;
                display: flex;
                align-items: center;
                padding: 0 30px;
                cursor: pointer;

                &:hover {
                    color: #fff;
                }

                &.selected {
                    border-left: 4px solid $home-header-button;
                    color: #fff;

                    .icon-bg {
                        background: url($group-active-image-url) rgba(15,22,33,0.3) no-repeat;
                    }
                }

                &.artificial {
                    
                    .desc {
                        margin: 0;
                    }
                }

                &.active {
                    color: #fff;
                    background: #272D37;
                    border: 2px dashed #48DAD0;
                }

                .icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                }

                .icon-bg {
                    background: url($group-default-image-url) rgba(15,22,33,0.3) no-repeat;
                    background-size: cover;
                }

                .icon-fleet {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $fake-header-text;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .desc {
                    width: 70%;
                    margin-left: 15px;

                    &:hover {

                        .title {

                            img {
                                opacity: 1;
                            }
                        }
                    }

                    .title {
                        font-size: 16px;
                        justify-content: space-between;
                        align-items:center;
                        display: flex;

                        span {
                            max-width: 150px;
                            @include textoverflowEllipsis;
                        }

                        img {
                            width: 12px;
                            height: 12px;
                            opacity: 0;
                            transition: opacity 0.4s ease;
                        }
                    }

                    .subtitle {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .content-panel {
        height: 100%;
        margin-left: 350px;
        position: relative;
        overflow-y: hidden;

        .devices-heading {
            color: $devices-group-inactive;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;

            &--absolute {
                position: absolute;
                top: -20px;
            }

            &--margin {
                margin-bottom: 5px;
            }
        }

        .subheader {
            background: transparent;
            height: 60px;
            padding: 0 30px;
        }

        .devices-wrapper {
            height: calc(100% - 60px);
            padding: 0 30px;

            .devices-list {
                height: 50%;
                position: relative;
                min-height: 305px;
            }

            .wrapper-infinite-scroll {
                overflow-y: auto;
                float: none;
            }

            .wrapper-dashboard {
                height: 45%;
                margin-top: 2%;
                overflow-y: hidden;
                min-height: 275px;

                .top {
                    display: flex;
                }

                .bottom {
                    display: flex;
                }

                .dashboard-top {
                    flex: 1;
                    padding: 15px;
                    background-color: $devices-groups-bg;
                    color: #fff;
                    font-size: 18px;
                    margin-right: 5px;

                    @media(max-height: 850px) {
                        font-size: 11px;
                    }

                    .icon-up {
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 12px solid #48dad0;
                        margin-left: 15px;
                        display: inline-block;
                        margin-left: 5px;
                    }
                }

                .dashboard-content {
                    flex: 1;
                    padding: 15px;
                    background-color: $devices-groups-bg;
                    color: #fff;
                    margin: 5px 5px 0 0;
                    flex-direction: column;
                    display: flex;
                }

                .dashboard-data {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: auto;
                    padding-top: 15px;
                    font-size: 11px;

                    @media(max-height: 850px) {
                        padding-top: 0;
                    }
                }

                .devices-chart-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100%;

                    .value-legend {
                        margin-bottom: 30px;
                    }

                    li {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .inner-container {
                display: flex;
                flex-wrap: wrap;
            }

            .common-box {
                cursor: move;
            }

            .content-empty {
                color: #fff;
                font-size: 21px;
            }
        }

        .common-box {

            .device-status {
                position: relative;
                top: -5px;
                left: 25px;
                width: 18px;
                height: 18px;
            }

            .icon {
                background-image: url($car-image-url);
                background-size: 100% 100%;
                background-color: transparent;
                width: 50px;
                height: 50px;

                &.sedan {
                    background-image: url($sedan-image-url);
                }

                &.hatchback {
                    background-image: url($hatchback-image-url);
                }

                &.eh0 {
                    background-image: url($eh0-image-url);
                }

                &.sport {
                    background-image: url($sport-image-url);
                }

                &.sw {
                    background-image: url($sw-image-url);
                }
            }
        }
    }
}