#page-packages {
    background-color: $home-bg;
    height: calc(100vh - 100px);

    .ios-list {
        height: calc(100% - 40px);
    }

    #delete-version {
        color: $confirm-modal-title;
    }

    .c-package {

        &__item {
            cursor: pointer;
            font-size: 12px;
        }

        &__teaser {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &__icon {
            width: 18px;
        }

        &__name {
            flex: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 15px;
        }

        &__versions-nr {
            flex: 1;
            text-align: center;
        }

        &__versions-wrapper {
            display: flex;
        }

        &__stats {
            position: relative;
        }

        &__chart {
            padding-top: 20px;
        }

        &__chart-wrapper {
            background: #fff;
            border-radius: 50%;
            display: flex;
        }

        &__chart-total {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: $home-bg;
            font-weight: 400;
        }

        &__installed {
            flex: 1;
            text-align: center;
        }

        &__more-info {
            flex: 3;
            text-align: right;
            color: $home-header-button;
            font-weight: 500;
        }

        &__details {
            background: #f3f3f4;
            padding: 25px;
            border-bottom: 1px solid #ddd;
        }

        &__main-name {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > .dots {
                position: relative;
                top: 0;
                left: 0;
                & > span {
                    background-color: $color-mint;
                    width: 4px;
                    height: 4px;
                }
            }

            span {
                font-weight: bold;
                font-size: 22px;
                color: #0F1621;
            }
        }

        &__heading {
            margin-bottom: 10px;
            font-weight: 500;
            color: $home-grey;
            font-size: 12px;
            text-transform: uppercase;
        }

        &__subheading {
            margin-bottom: 10px;
        }

        &__versions {
            color: $device-properties-text;
            padding-left: 50px;
            margin: 0;
            flex: auto;
        }

        &__version-item {
            font-size: 12px;
            position: relative;
            background: #fff;
            margin-bottom: 20px;

            &>span {
                display: flex;
            }
        }

        &__sw-wrapper {

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__sw-box {
            flex-basis: 50%;
            padding: 20px 25px;
            border-right: 1px solid #e7e7e8;
        }

        &__sw-row {
            overflow: hidden;
            margin-bottom: 5px;
        }

        &__sw-subtitle {
            float: left;
            width: 125px;
        }

        &__sw-value {
            @include textoverflowEllipsis;
            float: left;
            width: calc(100% - 125px);
        }

        &__hardware-box {
            border-right: 1px solid #e7e7e8;
            flex-basis: 50%;
            text-align: left;
            height: auto;
            padding: 20px 25px;
        }

        &__inner-box {
            flex-basis: 50%;
        }

        &__comment {
            padding: 20px 25px;
        }

        &__comment-value {
            border: 0;
            resize: none;
            cursor: default;
            background-color: transparent;
            width: 100%;
        }

        &__show-dependencies {
            flex-basis: 50%;
        }

        &__manager {
            padding: 20px 25px;
            font-size: 12px;
            position: relative;
            border-top: 1px solid $add-button-grey;
        }

        &__manager-content {
            display: flex;
            flex-wrap: wrap;
        }

        &__relations {
            width: 33%;

            &:not(:last-child) {
                padding-right: 20px;
            }
        }

        &__relation-item {
            @include textoverflowEllipsis;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        &__relation-name {
            width: 30%;
            float: left;
            @include textoverflowEllipsis;
            margin-right: 10%;
        }

        &__relation-version {
            width: 60%;
            float: left;
            @include textoverflowEllipsis;
        }
    }
}