#page-device {
    height: calc(100vh - 50px);
    background: $home-bg;

    .page-heading {
        .icon {
            background-image: url($car-image-url);
            background-size: cover;
            position: relative;
            background-color: transparent;
            width: 50px;
            height: 50px;
        }

        .left-box {
            display: flex;
            align-items: center;
        }

        .text {
            margin-left: 15px;

            .title {

                .device-name {
                    position: relative;
                    display: block!important;
                    width: 255px;
                }

                input {
                    width: 100%;
                    background-color: rgba(0,0,0,0);
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    color: #fff;
                    appearance: none;
                    transition: all 0.3s ease;
                    padding: 10px 45px 10px 10px;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    
                    &:focus {
                        outline: auto;
                        background-color: rgba(0,0,0,0.2);
                    }                    
                }
                img {
                    width: 15px;
                    transition: opacity 0.3s ease;
                    cursor: pointer;

                    &.edit {
                        opacity: 0;
                        position: absolute;
                        right: 15px;
                        top: 13px;
                    }
                }
                .icons {
                    position: absolute;
                    right: 5px;
                    top: 12px;
                    z-index: 10;
                    img {
                        margin-right: 5px;
                        width: 12px;
                    }
                }
                &:hover {
                    img {
                        opacity: 1;
                    }
                    input {
                        background-color: rgba(255,255,255,.2);
                    }
                }
            }
        }

        .device-info-items {
            color: #ddd;
            font-size: 11px;
            margin-right: 10px;
            display: flex;
            align-items: center;

            .device-info-group {
                display: flex;
            }

            .device-info-item {
                margin: 0 10px;
                display: inline-block;

                &.crop {
                    max-width: 120px;
                }

                &.last-seen {
                    min-width: 115px;
                    @include textoverflowEllipsis;
                }

                @media(max-width: 1420px) {
                    margin: 0 8px;
                }

                .device-info-label {
                    color: $devices-group-text;
                }

                .device-info-desc {
                    @include textoverflowEllipsis;
                }
            }
        }

        .status {
            background: url($device-status-unknown) no-repeat;
            width: 18px;
            height: 18px;
            background-size: cover;
            position: absolute;
            right: -7px;
            top: -7px;

            &.status-Error {
                background-image: url($device-status-error);
            }

            &.status-Outdated {
                background-image: url($device-status-pending);
            }

            &.status-UpToDate {
                background-image: url($device-status-success);
            }
        }

        .device-info-container {
            display: flex;
            align-items: center;
        }

        .action-buttons {
            display: flex;
            align-items: center;

            .queue-button {
                background: url($device-queue-icon) no-repeat;
                background-size: 100% 100%;
                width: 25px;
                height: 25px;
                border: 0;
                margin-right: 20px;
            }
        }
    }

    .content {
        font-size: 12px;

        .hardware-panel {
            width: 20%;
            height: calc(100% - 100px);
            float: left;
            position: relative;
            z-index: 121;
            border-right: 2px solid $panel-delimiter-color;

            .wrapper-hardware {
                height: calc(100% - 45px);
                overflow-y: auto;
                background: $devices-groups-bg;

                .hardware-title {
                    color: $devices-group-inactive;
                    font-size: 10px;
                    text-transform: uppercase;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    padding: 0 25px;
                    font-weight: bold;
                    position: relative;
                }

                .primary-ecu {
                    position: relative;
                    padding-bottom: 20px;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 90%;
                        background-color: $home-header-text;
                        height: 1px;
                        bottom: 0;
                        left: 50%;
                        right: 50%;
                        transform: translate(-50%);
                    }
                }

                a {
                    @include transition;
                    color: $devices-group-text;
                    padding-left: 25px;
                    border-left: 4px solid transparent;
                    position: relative;
                    margin-left: -10px;
                    height: 90px;
                    display: flex;
                    align-items: center;

                    .app-label {
                        color: $home-header-text;
                        border: 1px solid $home-header-text;
                        margin-bottom: 10px;
                    }

                    &:hover {
                        color: #fff;

                        .app-label {
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }

                    &.selected {
                        color: #fff;
                        margin-left: 0;
                        border-left-color: $color-mint;

                        .app-label {
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }

                    .desc {
                        width: 70%;
                        @include textoverflowEllipsis;
                    }

                    .icons {
                        position: absolute;
                        right: 12px;
                        top: 20px;

                        .hardware-icon {
                            display: inline-block;

                            img {
                                width: 20px;
                                height: 20px;
                            }

                            &.key {
                                margin-left: 5px;

                                img {
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                    }
                }

                .not-available {
                    padding: 10px 25px;
                    color: $devices-group-text;
                }

                .hardware-secondary-details {
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    width: 20px;
                    top: 9px;

                    &:hover {
                        background-image: url($device-secondary-questionmark-active);
                        background-size: contain;
                    }
                }
            }
        }

        .software-panel {
            width: 45%;
            height: calc(100% - 100px);
            float: left;
            z-index: 120;
            border-right: 2px solid $panel-delimiter-color;

            .wrapper-software {
                position: relative;
                height: calc(100% - 45px);
                background: #fff;
            }
           
            .ios-list {

                .labels {

                    .label {
                        float: right;
                        font-size: 11px;
                        font-weight: normal;
                        cursor: pointer;
                        background: #369E47;
                        padding: 2px 14px;
                        margin: 0 0 0 10px;
                        float: right;
                        border-radius: 10px;
                    }

                    .label-auto-update {
                        background: $device-pack-auto-update;
                    }

                    .label-package-installed {
                        background: $device-pack-installed-bg;
                    }

                    .label-package-queued {
                        background: $device-pack-queued-bg;
                    }

                    .label-package-blacklisted {
                        background: red;
                    }
                }

                .item {

                    &.selected {
                        border-bottom: none;

                        .name {
                            font-size: 14px;
                            color: $home-bg;
                        }

                        .package-versions-nr {
                            color: $home-header-text;
                            line-height: 20px;
                        }
                    }

                    .left-box, .right-box {
                        display: flex;
                    }

                    .package-versions-nr {
                        color: #b5b7b9;
                        margin-left: 10px;
                        font-size: 12px;
                    }

                    .fa-stack {

                        &.queued {
                            color: #fff;

                            .fa-dot-circle-o {
                                color: $device-pack-queued-bg;
                            }
                        }
                    }

                    .wrapper-auto-update {
                        color: $home-header-text;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                    }
                }

                .unmanaged {
                    width: 100%;
                    height: 90px;
                    padding: 0 39px;
                    border: 0;
                    border-bottom: 1px solid #ddd;
                    transition: all .2s ease-in;
                    background: #f3f3f4;
                    color: #9fa2a6;
                    cursor: pointer;
                    background: #d3d3d3; 

                    &:hover {
                        background: #d3d3d3;
                    }

                    .left-box {
                        text-align: left;
                        width: 70%;

                        div {
                            display: flex;

                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }
                        }

                        .sub-title {
                            width: 25%;
                            display: inline-block;
                        }

                        .value {
                            width: 75%;
                            display: inline-block;
                            @include textoverflowEllipsis;
                        }
                    }
                }

                .versions-container {
                    margin-bottom: 0;
                
                    .versions {

                        li {
                            cursor: pointer;
                            padding: 15px 35px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-left: 4px solid transparent;
                            @include transition;

                            &:hover {
                                background: #eee;
                            }

                            .left-box {
                                width: 70%;

                                div {
                                    display: flex;

                                    &:not(:last-child) {
                                        margin-bottom: 5px;
                                    }

                                    .sub-title {
                                        width: 25%;
                                    }

                                    .value {
                                        width: 75%;
                                        @include textoverflowEllipsis;
                                    }
                                }
                            }

                            .right-box {
                                display: flex;
                                flex-direction: column;
                                width: 30%;
                                align-items: flex-end;

                                .fa-stack {

                                    &.queued {
                                        color: #fff;

                                        .fa-dot-circle-o {
                                            color: $device-pack-queued-bg;
                                        }
                                    }
                                }

                                img {
                                    width: 25px;
                                    height: 25px;
                                }
                            }

                            &.selected {
                                border-left: 4px solid $color-mint;
                            }
                        }
                    }

                    .info-auto-update {
                        color: #fff;
                        text-align: center;
                        background: $switch-blue-color;
                        padding: 10px 25px;
                    }
                }
            }
        }

        .properties-panel {
            width: 35%;
            height: calc(100% - 100px);
            float: left;
            z-index: 119;
            position: relative;

            .wrapper-properties {
                height: calc(100% - 45px);
                position: relative;
                background: #fff;

                .additional-status {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 30px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.bg-green {
                        background-color: $device-pack-installed-bg;
                    }

                    &.bg-orange {
                        background-color: $device-pack-queued-bg;
                    }

                    &.bg-grey {
                        background-color: #666666;
                    }

                    &.bg-red {
                        background-color: red;
                    }
                }

                .details {
                    padding: 35px;
                    height: calc(100% - 30px);
                    position: relative;

                    .heading {
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .title {
                            font-weight: bold;
                            font-size: 16px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 65%;
                        }
                        
                        .status {
                            width: 35%;
                            text-align: right;
                            font-weight: bold;
                            font-size: 10px;
                            color: $device-hardware-header;

                            img {
                                width: 17px;
                                margin: 0 0 5px 8px;
                            }

                            i {
                                font-size: 2em;
                                margin: 0 0 5px 8px;
                            }

                            .blacklisted, .blacklisted-installed {
                                color: red;
                            }
                        }
                    }

                    .data {
                        color: $device-properties-text;

                        span:not(.app-label) {
                            line-height: 26px;
                        }

                        div {
                            overflow: hidden;
                        }

                        .sub-title {
                            width: 25%;
                            float: left;
                        }

                        .value {
                            width: 70%;
                            float: left;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .install {
                        position: absolute;
                        bottom: 35px;
                        right: 35px;
                        left: 35px;

                        .btn-primary {
                            width: 100%;
                            height: 60px;
                            color: rgba(255,255,255,0.9);
                            font-size: 22px;
                            font-weight: 300;

                            span {
                                font-size: 20px!important;
                                font-weight: 500!important;
                            }
                        }
                    }
                }
            }
        }

        .device-offline {
            
            .title {
                font-size: 24px;
                color: #fff;
            }
        }
    }
}