@()()
<!doctype html>
<html lang="en">
    <head>
        <title>ATS Garage - Log in</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel='stylesheet' href='@routes.Assets.versioned("css/main-styles.css")'>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>        
    </head>
    <body>
        <div id="ats-page">
            <div class="container ats">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#"><img src='@routes.Assets.versioned("img/logo.png")' id="logo"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                        <div class="ats-header text-center">
                            <p>Thank you.</p>
                            <p>Your account has been activated.</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="form-group">
                                    <a href="/login" class="ats-button" id="submit-form">Log in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="ats-footer-panel"> 
                <a href="mailto:support@@atsgarage.com" class="clickme">Need Support?</a>
            </section>
        </div>
    </body>
</html>
