@()()
<!doctype html>
<html lang="en">
  <head>
    <title>HERE OTA Connect - Account Activated</title>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/unlogged.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="ats-page" class="welcome-page">

        <div class="wrapper-center">
        	<div class="info">
        		<div class="logo text-center">
                  	<a href="#"><img src='@routes.Assets.versioned("img/atsgarage_white.png")' id="logo"></a>
                </div>
        		<div class="header">
	        		<p>Thank you.</p>
	        		<p>Your account has been activated.</p>
        		</div>
        		<div class="log-in">
        			<a href="/login">Log in</button>
        		</div>
        	</div>
        </div>
       
      <section class="footer-panel">
        <a href="mailto:otaconnect.support@@here.com" class="clickme">Need Support?</a>
      </section>
    </div>
  </body>
</html>
