@()(implicit flash: Flash)
<!doctype html>
<html lang="en">
  <head>
    <title>HERE OTA Connect - Error</title>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/unlogged.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="ats-page" class="error-page">

        <div class="wrapper-center">
          @flash.get("authzError") match {
            case _ => {
              <div class="info">
                <div class="logo text-center">
                  <a href="#"><img src='@routes.Assets.versioned("img/Here_logo.svg")' id="logo"></a>
                </div>
                <div class="header">
                  <p class="welcome">Welcome!</p>
                  <p class="description">WE could not log you in at this time. Please try again later.</p>
                  <div class="divider"></div>
                  <p class="description">For support please,</p>
                </div>
                <div class="button">
                  <a href="mailto:otaconnect.support@@here.com">contact us</a>
                </div>
              </div>
            }
          }
        </div>
    </div>
  </body>
</html>
