@import com.advancedtelematic.changepassword.ChangePasswordData
@import com.advancedtelematic.changepassword.routes.ChangePasswordController

@(showForm: Form[ChangePasswordData])(implicit messages: Messages)
<!doctype html>
<html lang="en">
    <head>
        <title>SOTA Admin UI - Change password</title>        
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='@routes.Assets.versioned("css/strength.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("css/main-styles.css")'>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>        
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src='@routes.Assets.versioned("js/jquery.slidedrawer.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("js/strength.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("js/verify.js")'></script>
    </head>
    <body>
        <div id="ats-page">
            <div class="container ats">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#"><img src='@routes.Assets.versioned("img/logo.png")' id="logo"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                        <div class="ats-header text-center">
                            <p>Please insert your old password and then set and confirm the new one.</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="ats-errors">
                                    Wrong password
                                </div>
                                @helper.form(action = com.advancedtelematic.changepassword.routes.ChangePasswordController.changePassword, 'id -> "changePasswordForm") {
                                <div class="form-group">
                                    <input class="form-control error" type="password" name="oldPassword" placeholder="old password" id="old-password" tabindex="1">
                                </div>
                                <div class="form-group">
                                    <input class="form-control margin-bottom-0" type="password" name="newPassword" placeholder="new password" id="password" tabindex="2">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="passwordConfirmation" placeholder="confirm new password" id="repeat-password" tabindex="3">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="ats-button" id="submit-form" tabindex="4">Save</button>
                                </div>
                                <div class="form-group">
                                    <a href="/edit_profile" class="ats-button grey">Cancel</a>
                                </div>
                                <div class="text-center margin-top-30">
                                    <p>By continuing, you agree to our</p> 
                                    <a href="#" class="underlined">Terms & Conditions</a> and <a href="#" class="underlined">Privacy Policy</a>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="ats-footer-panel"> 
                <header class="clickme">Need Support?</header>
                <div class="drawer-content">
                    <div class="intend">
                        Content
                    </div>
                </div>
            </section>
        </div>

        <script>
            $(function () {
                $('.ats-footer-panel').slideDrawer({
                    showDrawer: false,
                    slideTimeout: true,
                    slideSpeed: 600,
                    slideTimeoutCount: 3000
                });

                $('#password').strength({
                    strengthClass: 'strength',
                    strengthMeterClass: 'strength_meter',
                    strengthButtonClass: 'button_strength',
                    strengthButtonText: ''
                });

                $("#changePasswordForm").validate({
                    rules: {
                        oldPassword: {
                            required: true
                        },
                        newPassword: {
                            required: true
                        },
                        passwordConfirmation: {
                            required: true,
                            equalTo: "#password"
                        }
                    },
                    messages: {
                        oldPassword: {
                            required: "<i class='fa fa-times-circle'></i> Please enter old password"
                        },
                        newPassword: {
                            required: "<i class='fa fa-times-circle'></i> Please enter new password"
                        },
                        passwordConfirmation: {
                            required: "<i class='fa fa-times-circle'></i> Please confirm new password",
                            equalTo: "<i class='fa fa-times-circle'></i> Please enter the same value again"
                        }
                    }
                });

                $('body').verify({verifyMinWidth: 1366, verifyMinHeight: 0});
            });
        </script>
    </body>
</html>
