@import com.advancedtelematic.login.Auth0Config

@(config: Auth0Config)(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ATS Garage - Log in</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='@routes.Assets.versioned("css/main-styles.css")'>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>        
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src='@routes.Assets.versioned("js/jquery.slidedrawer.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("js/verify.js")'></script>
        <script src="https://cdn.auth0.com/js/lock-9.0.min.js"></script>
        <script>
          var AUTH0_CLIENT_ID = '@config.clientId';
	      var AUTH0_DOMAIN = '@config.domain';
	      var AUTH0_CALLBACK_URL = '@config.callbackURL';
        </script>
    </head>
    <body class="login">
        <div id="ats-page" style="display: none;">
            <div class="container ats">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                        <div class="ats-header text-center">
                            <p>Hi there, welcome back.</p>
                            <div id="widget-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="ats-footer-panel"> 
                <header class="clickme">Need Support?</header>
                <div class="drawer-content">
                    <div class="intend">
                        Content
                    </div>
                </div>
            </section>
        </div>

        <script>
            $(function () {
                $('#ats-page').fadeIn('slow');

                $('.ats-footer-panel').slideDrawer({
                    showDrawer: false,
                    slideTimeout: true,
                    slideSpeed: 600,
                    slideTimeoutCount: 3000
                });

                $('body').verify({verifyMinWidth: 1366, verifyMinHeight: 0});
            });

            $(document).ready(function() {
                var lock = new Auth0Lock(AUTH0_CLIENT_ID, AUTH0_DOMAIN);

                  lock.show({
                    callbackURL: AUTH0_CALLBACK_URL,
                    container: 'widget-container'
                  });
            });

        </script>
    </body>
</html>
