@import com.advancedtelematic.auth.OAuthConfig
@import com.advancedtelematic.auth.garage.Auth0Config
@import com.advancedtelematic.auth.garage.DowntimeConfig

@(oauthConfig: OAuthConfig, auth0Config: Auth0Config, downtimeConfig: DowntimeConfig)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HERE OTA Connect - Log in</title>
        <link href="/assets/css/unlogged.css" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src='@routes.Assets.versioned("js/jquery-3.3.1.min.js")'></script>
        <script type="text/javascript" src='https://cdn.auth0.com/js/lock/10.22/lock.min.js'></script>
    </head>
    <body class="login">
        <div id="ats-page" style="display: none;">
            @if(downtimeConfig.isPlanned) {
                <div class="top-alert">
                    <img src='@routes.Assets.versioned("img/icons/white/warning.png")' alt="Icon" />
                    <p>
                      Planned outage: HERE OTA Connect will be offline for approximately @downtimeConfig.duration.toHours hours
                      beginning on @downtimeConfig.startDateTime
                    </p>
                </div>
            }
            @if(downtimeConfig.isDown) {
                <div class="maintenance-container">
                    <div class="notificaiton">
                        <div class="logo text-center">
                            <a href="#"><img src='@routes.Assets.versioned("img/atsgarage_white.png")' id="logo"></a>
                        </div>
                        <div class="construction text-center">
                            <img src='@routes.Assets.versioned("img/icons/construction.png")' id="Construction">
                        </div>
                        <div class="header">
                            <p>HERE OTA Connect is currently offline for scheduled maintenance</p>
                        </div>
                    </div>
                </div>
            } else {
                <div class="privay-notification">
                    <div class="content">
                        <div class="title">
                            IMPORTANT: Changes related to the sale of ATS
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            Following the sale of ATS to HERE Technologies, HERE Technologies assumes responsibility for the provision of the service and personal data of ATS’ customers. HERE Technologies continues to collect and use your personal data in the ways described by HERE Privacy Policy, as available from <a href="https://legal.here.com/privacy" target="_blank">https://legal.here.com/privacy</a> and provides the service in accordance with the General <a href="https://atsgarage.com/en/terms-conditions.html" target="_blank">Terms and Conditions</a>. If you want to contact HERE about your personal data, you can do so by using the address: HERE Global B.V., c/o Privacy, De Run 1115, 5503 LB Veldhoven, Netherlands. We have updated our terms and policies to reflect this change.
                            By continuing to use the service you accept the General <a href="https://atsgarage.com/en/terms-conditions.html" target="_blank">Terms and Conditions</a> and <a href="https://legal.here.com/privacy" target="_blank">Privacy Policy</a>.
                        </div>
                    </div>
                </div>
                <div class="container ats">
                    <div class="row">
                        <div class="login-content">
                            <div class="ats-header text-center">
                                <div id="widget-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <input type="hidden" id="auth0-client-id" value="@oauthConfig.clientId"/>
        <input type="hidden" id="auth0-domain" value="@oauthConfig.domain"/>
        <input type="hidden" id="auth0-callback-url" value="@oauthConfig.callbackURL"/>
        <input type="hidden" id="auth0-token-audience" value="@auth0Config.audience"/>
        <script type="text/javascript" src='@routes.Assets.versioned("js/login.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("js/privay-notification.js")'></script>
    </body>
</html>
