$color_blue: #A6E6DF;
$color_red: #d66f6f;
$color-mint: #9ce2d8;
$color-mint-active: #7de9da;
$footer_panel_bg_color: #282828;

@import "common.scss";

/* Main */

@font-face {
    font-family: AkkuratRegular;
    src: url(../fonts/Akkurat-Regular.otf);
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none !important;
}

*:focus {  
    text-decoration: none;
}

button:focus {
    outline: none;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    color: #fff;
    font: normal 13px AkkuratRegular;
    background: url(../img/bg.jpg) no-repeat;
    background-attachment: fixed;
    height: 100%;

    &.login {
        background: url('../img/garage_door.jpg') top center no-repeat;
        background-size: cover;
    }

    &.otaplus {
        background: #7b7b7b;
    }
}

a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}

#logo {
    width: 70px;
    margin: 80px 0 50px 0;
}

.black {
    color: #333;

    &:hover, &:focus, &:active {
        color: #333;
    }
}

.strong {
    color: #80e59d !important;
}

.underlined {
    text-decoration: underline;
}

.login {
    #ats-page {
        background-image: -o-radial-gradient(circle, #fff, rgba(255,255,255,0) 550px);
        background-image: -moz-radial-gradient(circle, #fff, rgba(255,255,255,0) 550px);
        background-image: -webkit-radial-gradient(circle, #fff, rgba(255,255,255,0) 550px);
        background-repeat: no-repeat;
        height: 100%;
        position: relative;

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.modal {
    padding: 100px 0 0 0;

    .modal-dialog {
        width: 463px;
        height: 240px;

        .modal-content {
            border: 0;

            .modal-header {
                color: #fff;
                text-align: center;
                background: #979797;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .modal-body {
                color: #444;
                padding: 20px 30px;
            }
        }
    }
}

a.close, button.close {
    width: 24px;
    height: 24px;
    background: url(/assets/img/icons/close.png) no-repeat;
    border: 0;
    border-radius: 0;
    opacity: 0.8;

    &:hover, &:focus, &:active {
        opacity: 1;
    }
}

.container {
    @media (max-width: 767px) {
        width: 100%;
    }
}

@for $i from 0 through 5 {
    .margin-top-#{$i*10} { 
        margin-top: 10px * $i !important; 
    }

    .margin-bottom-#{$i*10} { 
        margin-bottom: 10px * $i !important; 
    }
}

.ats {
    input.error {
        border-color: $color_red !important;
    }

    label.error {
        color: #fff;
        font-weight: lighter;
        margin: 5px 0 0 0;

        .fa {
            color: $color_red;
        }
    }

    &-footer-panel {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0px;
        overflow: hidden;
        z-index: 999; 

        .clickme {
            text-align: center;
            background: $footer_panel_bg_color; 
            width: 300px;
            padding: 10px 15px;
            margin: 0 auto;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            display: block;
        }

        @media screen and (max-width: 730px) {
            width: 100%;
        }
    }
}

/* Password meter */

.strength_meter {
    background: transparent;
    width: auto;
    height: auto;
    margin: 5px 0 5px 0;
    float: left;

    &, & div {
        border-radius: 4px;
    }

    div {
        color: #fff;
        text-align: left;
        width: auto;
        display: inline;
    }

    .veryweak, .weak, .medium, .strong {
        background: transparent;
        border: 0;
    }

    .veryweak, .weak {
        color: #e58080 !important;
    }

    .medium {
        color: #e5c580 !important;
    }

    .password-not-equal {
        color: #a94442;
        background: #efcece;
        border-color: #ebccd1;
    }

    .password-equal {
        background: #d3edce;
        border-color: #d3edce;
    }
}

/* Modal */

.modal-body {
    font-size: 14px;
}

/* Auth0 */

body {
    #a0-lock {
        &.a0-theme-default {
            .a0-switch {
                span {
                    color: #444;
                    background-color: #fff;
                    transition: all 0.3s ease-in;

                    &:hover {
                        background-color: #eee;
                    }

                }

                .a0-active {
                    background-color: #444;

                    &:hover {
                        background-color: #222;
                    }
                }
            }

            .a0-btn-small {
                &.a0-back {
                    background: #ccc;
                    top: 130px;
                    left: 22px;
                    border-color: #ccc;
                    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
                    box-shadow: 0 1px 3px rgba(0,0,0,.5);
                }
            }

            .a0-panel {
                width: 100%;
                box-shadow: none;
                -webkit-box-shadow: none;

                .a0-avatar-guest {
                    display: none !important;
                }

                .a0-icon-container {
                    color: #fff;
                    background: transparent;

                    .a0-image {
                        img {
                            height: 85px;
                        }
                    }

                    h1 {
                        display: none;
                    }
                }

                .a0-forgot-pass {
                    text-align: right;
                    display: block;

                    &:before {
                        content: "" !important;
                    }
                }

                .a0-top-header {
                    background: transparent;
                    min-height: 0;
                }

                .a0-bg-gradient {
                    opacity: 0;
                }

                .a0-error, .a0-success {
                    font: 400 17px Arial;
                    text-align: center;
                    padding: 25px 30px;
                    margin: 0 15px;
                    margin-bottom: 20px;
                    border-radius: 12px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 100%;
                    z-index: 999;
                }

                .a0-error {
                    background: #d66f6f;
                }

                .a0-success {
                    background: #7ED321;
                }

                .a0-instructions {
                    color: #444;
                    padding: 0 35px;
                }

                .a0-mode {
                    background: transparent;

                    form {
                        .a0-body-content {
                            padding: 0 20px;
                            background: transparent;
                        }
                    }
                }

                .a0-email, .a0-password {
                    .a0-input-box {
                        border-radius: 12px;
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        -moz-background-clip: padding;
                        -webkit-background-clip: padding;
                        background-clip: padding-box;
                        margin: 15px 0;

                        &:hover, &:active, &:focus {
                            border-color: rgba(0, 0, 0, 0.4);
                        }

                        &.a0-error-input {
                            border-color: #d66f6f;
                        }

                        i {
                            top: 18px;
                        }

                    }

                    input {
                        font-size: 14px;
                        height: 50px;
                    }
                }

                .a0-separator {
                    color: #444;
                    margin: 15px 0;
                }

                .a0-action {
                    button {
                        text-transform: none;
                        text-indent: 0;
                        height: 55px;

                        &:after {
                            display: none;
                        }
                    }
                }

                button {
                    &.a0-primary {
                        font-size: 17px;
                        text-align: center;
                        text-decoration: none;
                        letter-spacing: 0px;
                        background: $color-mint !important;
                        width: 100%;
                        padding: 15px;
                        transition: all 0.5s ease;
                        border: 0;
                        border-radius: 25px;
                        display: block;
                        position: static;

                        &:hover {
                            text-decoration: none;
                            background: $color-mint-active !important;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                        }
                    }
                }

                .bottom-content {
                    padding: 0 20px;
                }

                .a0-forgot-pass {
                    color: #444;
                    margin: 10px 0;

                    &:before {
                        font-family: FontAwesome;
                        content: "\f084";
                    }
                }

                .a0-footer {
                    display: none;
                }
            }

            .a0-nocentrix {
                .a0-panel {
                    .a0-mode-container {
                        background: transparent;
                    }
                }
            }
        }
    }

    &.otaplus {
        #a0-lock {
            &.a0-theme-default {
                .a0-panel {
                    .a0-icon-container {
                        background: #7b7b7b;
                    }
                }
            }
        }

    }
}