.ats-header { font-size: 28px; margin: 20px 0 40px 0; }
.ats .form-control { font-size: 17px; text-align: center; height: auto; padding: 13px 15px; margin-bottom: 20px; border: 2px solid rgba(255, 255, 255, 0.2); border-radius: 12px; -moz-background-clip: padding; /* Firefox 3.6 */ -webkit-background-clip: padding; /* Safari 4? Chrome 6? */ background-clip: padding-box; }
.ats .form-control.error { margin-bottom: 0; border: 2px solid #A6E6DF; }
.ats-errors { font: 400 17px Arial; text-align: center; background: #d66f6f; padding: 25px 30px; margin: 0 15px; margin-bottom: 20px; border-radius: 12px; position: absolute; left: 0; right: 0; bottom: 100%; z-index: 999; display: none; }
.ats-button { font-size: 19px; text-align: center; text-decoration: none; background: rgba(255, 170, 136, 0.5); width: 100%; padding: 15px; transition: all 0.5s ease; border: 0; border-radius: 25px; display: block; }
.ats-button:hover { background: #ffaa88; text-decoration: none; }
.ats-button[disabled] { background: #b7b7b7; }
.ats-button.grey { background: rgba(183, 183, 183, 0.5); }
.ats-button.grey:hover { background: #b7b7b7; }
.ats-button.bordered { background: transparent; border: 2px solid #fff; }
.ats-button.bordered:hover { color: #ffaa88; border-color: #ffaa88; }

.loading-text { font-size: 20px; margin: 0 0 10px 0; }

/* Main */
@font-face { font-family: AkkuratRegular; src: url(../fonts/Akkurat-Regular.otf); }
* { text-decoration: none; padding: 0; margin: 0; list-style: none; outline: none !important; }

*:focus { text-decoration: none; }

button:focus { outline: none; }

html { height: 100%; min-height: 100%; }

body { color: #fff; font: normal 13px AkkuratRegular; background: url(../img/bg.jpg) no-repeat; background-attachment: fixed; height: 100%; }
body.login { background: url("../img/garage_door.jpg") top center no-repeat; background-size: cover; }
body.otaplus { background: #7b7b7b; }

a, a:hover, a:focus { color: #fff; text-decoration: none; }

#logo { width: 70px; margin: 80px 0 50px 0; }

.black { color: #333; }
.black:hover, .black:focus, .black:active { color: #333; }

.strong { color: #80e59d !important; }

.underlined { text-decoration: underline; }

.login #ats-page { background-image: -o-radial-gradient(circle, #fff, rgba(255, 255, 255, 0) 550px); background-image: -moz-radial-gradient(circle, #fff, rgba(255, 255, 255, 0) 550px); background-image: -webkit-radial-gradient(circle, #fff, rgba(255, 255, 255, 0) 550px); background-repeat: no-repeat; height: 100%; position: relative; }
.login #ats-page .container { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.modal { padding: 100px 0 0 0; }
.modal .modal-dialog { width: 463px; height: 240px; }
.modal .modal-dialog .modal-content { border: 0; }
.modal .modal-dialog .modal-content .modal-header { color: #fff; text-align: center; background: #979797; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.modal .modal-dialog .modal-content .modal-body { color: #444; padding: 20px 30px; }

a.close, button.close { width: 24px; height: 24px; background: url(/assets/img/icons/close.png) no-repeat; border: 0; border-radius: 0; opacity: 0.8; }
a.close:hover, a.close:focus, a.close:active, button.close:hover, button.close:focus, button.close:active { opacity: 1; }

@media (max-width: 767px) { .container { width: 100%; } }

.margin-top-0 { margin-top: 0px !important; }

.margin-bottom-0 { margin-bottom: 0px !important; }

.margin-top-10 { margin-top: 10px !important; }

.margin-bottom-10 { margin-bottom: 10px !important; }

.margin-top-20 { margin-top: 20px !important; }

.margin-bottom-20 { margin-bottom: 20px !important; }

.margin-top-30 { margin-top: 30px !important; }

.margin-bottom-30 { margin-bottom: 30px !important; }

.margin-top-40 { margin-top: 40px !important; }

.margin-bottom-40 { margin-bottom: 40px !important; }

.margin-top-50 { margin-top: 50px !important; }

.margin-bottom-50 { margin-bottom: 50px !important; }

.ats input.error { border-color: #d66f6f !important; }
.ats label.error { color: #fff; font-weight: lighter; margin: 5px 0 0 0; }
.ats label.error .fa { color: #d66f6f; }
.ats-footer-panel { width: 700px; margin-left: auto; margin-right: auto; position: fixed; left: 0; right: 0; bottom: 0px; overflow: hidden; z-index: 999; }
.ats-footer-panel .clickme { text-align: center; background: #282828; width: 300px; padding: 10px 15px; margin: 0 auto; border-top-left-radius: 25px; border-top-right-radius: 25px; display: block; }
@media screen and (max-width: 730px) { .ats-footer-panel { width: 100%; } }

/* Password meter */
.strength_meter { background: transparent; width: auto; height: auto; margin: 5px 0 5px 0; float: left; }
.strength_meter, .strength_meter div { border-radius: 4px; }
.strength_meter div { color: #fff; text-align: left; width: auto; display: inline; }
.strength_meter .veryweak, .strength_meter .weak, .strength_meter .medium, .strength_meter .strong { background: transparent; border: 0; }
.strength_meter .veryweak, .strength_meter .weak { color: #e58080 !important; }
.strength_meter .medium { color: #e5c580 !important; }
.strength_meter .password-not-equal { color: #a94442; background: #efcece; border-color: #ebccd1; }
.strength_meter .password-equal { background: #d3edce; border-color: #d3edce; }

/* Modal */
.modal-body { font-size: 14px; }

/* Auth0 */
body #a0-lock.a0-theme-default .a0-switch span { color: #444; background-color: #fff; transition: all 0.3s ease-in; }
body #a0-lock.a0-theme-default .a0-switch span:hover { background-color: #eee; }
body #a0-lock.a0-theme-default .a0-switch .a0-active { background-color: #444; }
body #a0-lock.a0-theme-default .a0-switch .a0-active:hover { background-color: #222; }
body #a0-lock.a0-theme-default .a0-btn-small.a0-back { background: #ccc; top: 140px; left: 22px; border-color: #ccc; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
body #a0-lock.a0-theme-default .a0-panel { width: 100%; box-shadow: none; -webkit-box-shadow: none; }
body #a0-lock.a0-theme-default .a0-panel .a0-avatar-guest { display: none !important; }
body #a0-lock.a0-theme-default .a0-panel .a0-icon-container { color: #fff; background: transparent; }
body #a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image img { height: 85px; }
body #a0-lock.a0-theme-default .a0-panel .a0-icon-container h1 { display: none; }
body #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass { text-align: right; display: block; }
body #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass:before { content: "" !important; }
body #a0-lock.a0-theme-default .a0-panel .a0-top-header { background: transparent; min-height: 0; }
body #a0-lock.a0-theme-default .a0-panel .a0-bg-gradient { opacity: 0; }
body #a0-lock.a0-theme-default .a0-panel .a0-error, body #a0-lock.a0-theme-default .a0-panel .a0-success { font: 400 17px Arial; text-align: center; padding: 25px 30px; margin: 0 15px; margin-bottom: 20px; border-radius: 12px; position: absolute; left: 0; right: 0; bottom: 100%; z-index: 999; }
body #a0-lock.a0-theme-default .a0-panel .a0-error { background: #d66f6f; }
body #a0-lock.a0-theme-default .a0-panel .a0-success { background: #7ED321; }
body #a0-lock.a0-theme-default .a0-panel .a0-instructions { color: #fff; padding: 0 25px; }
body #a0-lock.a0-theme-default .a0-panel .a0-mode { background: transparent; }
body #a0-lock.a0-theme-default .a0-panel .a0-mode form .a0-body-content { padding: 0 20px; background: transparent; }
body #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box, body #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box { border-radius: 12px; border: 2px solid rgba(0, 0, 0, 0.2); -moz-background-clip: padding; -webkit-background-clip: padding; background-clip: padding-box; margin: 15px 0; }
body #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box:hover, body #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box:active, body #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box:focus, body #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box:hover, body #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box:active, body #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box:focus { border-color: rgba(0, 0, 0, 0.4); }
body #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box.a0-error-input, body #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box.a0-error-input { border-color: #d66f6f; }
body #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box i, body #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box i { top: 18px; }
body #a0-lock.a0-theme-default .a0-panel .a0-email input, body #a0-lock.a0-theme-default .a0-panel .a0-password input { font-size: 14px; height: 50px; }
body #a0-lock.a0-theme-default .a0-panel .a0-separator { color: #444; margin: 15px 0; }
body #a0-lock.a0-theme-default .a0-panel .a0-action button { text-transform: none; text-indent: 0; height: 55px; }
body #a0-lock.a0-theme-default .a0-panel .a0-action button:after { display: none; }
body #a0-lock.a0-theme-default .a0-panel button.a0-primary { font-size: 17px; text-align: center; text-decoration: none; letter-spacing: 0px; background: #9ce2d8 !important; width: 100%; padding: 15px; transition: all 0.5s ease; border: 0; border-radius: 25px; display: block; position: static; }
body #a0-lock.a0-theme-default .a0-panel button.a0-primary:hover { text-decoration: none; background: #7de9da !important; -webkit-box-shadow: none; box-shadow: none; }
body #a0-lock.a0-theme-default .a0-panel .bottom-content { padding: 0 20px; }
body #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass { color: #444; margin: 10px 0; }
body #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass:before { font-family: FontAwesome; content: "\f084"; }
body #a0-lock.a0-theme-default .a0-panel .a0-footer { display: none; }
body #a0-lock.a0-theme-default .a0-nocentrix .a0-panel .a0-mode-container { background: transparent; }
body.otaplus #a0-lock.a0-theme-default .a0-panel .a0-icon-container { background: #7b7b7b; }
