/* Main */
@font-face { font-family: AkkuratRegular; src: url(../fonts/Akkurat-Regular.otf); }
* { text-decoration: none; padding: 0; margin: 0; list-style: none; outline: none !important; }

*:focus { text-decoration: none; }

button:focus { outline: none; }

html { height: 100%; min-height: 100%; }

body { color: #fff; font: normal 13px AkkuratRegular; background: url(../img/bg.jpg) no-repeat; background-attachment: fixed; }
body.login { background: url("../img/bg_login.jpg") top center no-repeat; }

a, a:hover, a:focus { color: #fff; text-decoration: none; }

#logo { width: 70px; margin: 80px 0 50px 0; }

.strong { color: #80e59d !important; }

.underlined { text-decoration: underline; }

.login .container { padding: 330px 0 0 0; }

.margin-top-0 { margin-top: 0px !important; }

.margin-bottom-0 { margin-bottom: 0px !important; }

.margin-top-10 { margin-top: 10px !important; }

.margin-bottom-10 { margin-bottom: 10px !important; }

.margin-top-20 { margin-top: 20px !important; }

.margin-bottom-20 { margin-bottom: 20px !important; }

.margin-top-30 { margin-top: 30px !important; }

.margin-bottom-30 { margin-bottom: 30px !important; }

.margin-top-40 { margin-top: 40px !important; }

.margin-bottom-40 { margin-bottom: 40px !important; }

.margin-top-50 { margin-top: 50px !important; }

.margin-bottom-50 { margin-bottom: 50px !important; }

.ats { padding-bottom: 70px; }
.ats-header { font-size: 28px; margin: 20px 0 40px 0; }
.ats .form-control { font-size: 17px; text-align: center; height: auto; padding: 13px 15px; margin-bottom: 20px; border: 2px solid rgba(255, 255, 255, 0.2); border-radius: 12px; -moz-background-clip: padding; /* Firefox 3.6 */ -webkit-background-clip: padding; /* Safari 4? Chrome 6? */ background-clip: padding-box; }
.ats .form-control.error { margin-bottom: 0; border: 2px solid #A6E6DF; }
.ats-errors { font: 400 17px Arial; text-align: center; background: #d66f6f; padding: 25px 30px; margin: 0 15px; margin-bottom: 20px; border-radius: 12px; position: absolute; left: 0; right: 0; bottom: 100%; z-index: 999; display: none; }
.ats-button { font-size: 19px; text-align: center; text-decoration: none; background: rgba(255, 170, 136, 0.5); width: 100%; padding: 15px; transition: all 0.5s ease; border: 0; border-radius: 25px; display: block; }
.ats-button:hover { background: #ffaa88; text-decoration: none; }
.ats-button[disabled] { background: #b7b7b7; }
.ats-button.grey { background: rgba(183, 183, 183, 0.5); }
.ats-button.grey:hover { background: #b7b7b7; }
.ats-button.bordered { background: transparent; border: 2px solid #fff; }
.ats-button.bordered:hover { color: #ffaa88; border-color: #ffaa88; }
.ats input.error { border-color: #d66f6f !important; }
.ats label.error { color: #fff; font-weight: lighter; margin: 5px 0 0 0; }
.ats label.error .fa { color: #d66f6f; }
.ats-footer-panel { width: 700px; margin-left: auto; margin-right: auto; position: fixed; left: 0; right: 0; bottom: 0px; overflow: hidden; z-index: 999; }
.ats-footer-panel header { text-align: center; background: #282828; width: 300px; padding: 10px 15px; margin: 0 auto; border-top-left-radius: 25px; border-top-right-radius: 25px; display: block; }
.ats-footer-panel .drawer-content { background: #282828; width: 100%; padding: 0 20px; border-top-left-radius: 25px; border-top-right-radius: 25px; box-sizing: border-box; }
.ats-footer-panel .drawer-content .intend { padding: 20px 0; }
@media screen and (max-width: 350px) { .ats-footer-panel .drawer-content { border-top-left-radius: 0; border-top-right-radius: 0; } }
.ats-footer-panel .clickme { cursor: pointer; }
@media screen and (max-width: 730px) { .ats-footer-panel { width: 100%; } }

/* Password meter */
.strength_meter { background: transparent; width: auto; height: auto; margin: 5px 0 5px 0; float: left; }
.strength_meter, .strength_meter div { border-radius: 4px; }
.strength_meter div { color: #fff; text-align: left; width: auto; display: inline; }
.strength_meter .veryweak, .strength_meter .weak, .strength_meter .medium, .strength_meter .strong { background: transparent; border: 0; }
.strength_meter .veryweak, .strength_meter .weak { color: #e58080 !important; }
.strength_meter .medium { color: #e5c580 !important; }
.strength_meter .password-not-equal { color: #a94442; background: #efcece; border-color: #ebccd1; }
.strength_meter .password-equal { background: #d3edce; border-color: #d3edce; }

/* Modal */
.modal-body { font-size: 14px; }
