.top-nav {
    height: 72px;
}

.pointer {
    cursor: pointer;
}

body {
    padding-top: 70px;
}
.side-nav {
    position: fixed
}
@media(min-width:768px) {
    .side-nav {
        top: 71px;
        margin-left: -230px;
        left: 230px;
        width: 180px;
        height: 1000px;
        background-color: black;
    }
}
.top-nav {
    color: white;
    background-color: black;
}

.side-nav > li > a {
    color: #999;
    padding-left: 35px;
}

.side-nav li {
    border-top: 2px solid #454545;
}

.nav-label {
    padding-left: 35px;
}

.nav-link-btn {
    padding-right: 10px;
}

#app {
    padding-left: 180px;
}

.myModal {
    background-color:rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    padding: 150px 0 0 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

a.page-title, a.page-title:hover {
    color: #fff;
    text-decoration: none;
}

table tr.selected {
    background: #e3f2e3 !important;
}

.label-package, .label-vehicle {
    font-size: 13px;
}

#table-packages tbody tr:hover, #table-vehicles tbody tr:hover {
    cursor: pointer;
}

table tbody tr {
    height: 50px;
}

.btn-add-new-vin {
    margin-top: 25px;
}

.status-error {
  border-left: 4px solid #D9534F !important;
}

.status-notseen {
  border-left: 4px solid #ccc !important;
}

.status-outdated {
  border-left: 4px solid #F0AD4E !important;
}

.status-uptodate {
  border-left: 4px solid #5CB85C !important;
}

.btn-install {
  font-size: 75%;
  padding: 0 .5em;
}

.btn-install[disabled] {
  background: #aaa;
  border-color: #aaa;
}
