/** @format */

@import '../variables-ota';
@import '../mixins';

#page-policy {
  position: relative;

  .header {
    background-color: #f3f3f4;
    font-size: 44px;
    color: rgba(15, 22, 33, 0.8);
    font-weight: 300;
    line-height: 53px;
    padding: 60px 40px;
  }

  .wrapper {
    background-color: #fff;
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content,
    .content-header {
      width: 800px;
    }

    .content-header {
      border-bottom: 1px solid #eee;
      justify-content: space-between;
      display: flex;

      span {
        padding-bottom: 10px;
      }

      span.border {
        border-bottom: 5px solid $color-mint;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.4px;
      }

      span.date {
        color: $color-mint;
      }
    }

    .content {
      p {
        font-size: 16px;
        padding: 10px 0;
        line-height: 24px;
      }
    }
  }
}
