/** @format */

@import '../variables-ota';
@import '../mixins';

#page-device {
  background: $dashboard-bg;
  font-size: 12px;
  width: 100%;
  min-height: $main-content-height;

  .device-offline-title {
    font-size: 24px;
    color: #fff;
  }

  .page-header {
    background-color: $devices-groups-bg;
    width: 100%;
    height: 100px;
    padding: 20px 15px 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $panel-delimiter-color;
    margin: 0;

    &__left {
      display: flex;
      align-items: center;
    }

    &__icon {
      background-image: url($car-image-url);
      background-size: cover;
      position: relative;
      background-color: transparent;
      width: 50px;
      height: 50px;
    }

    &__text {
      margin-left: 15px;
    }

    &__back {
      margin-right: 15px;

      i {
        color: $dashboard-header-button;
        font-size: 2.5em;
      }
    }

    &__device-name {
      display: block !important;
      width: 255px;
      font-size: 16px;
      color: #fff;
      @include textoverflowEllipsis;
    }

    &__device-report {
      display: flex;
      align-items: center;
    }

    &__device-report-items {
      color: #ddd;
      font-size: 11px;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

    &__device-report-item {
      margin: 0 10px;
      display: inline-block;

      @media (max-width: 1420px) {
        margin: 0 8px;
      }

      &--last-seen {
        min-width: 115px;
        @include textoverflowEllipsis;
      }

      &--crop {
        max-width: 120px;
      }
    }

    &__device-report-label {
      color: $devices-group-text;
    }

    &__device-report-desc {
      @include textoverflowEllipsis;
    }

    &__network-info {
      display: flex;
    }
  }

  .hardware-panel {
    width: 20%;
    height: calc(100% - 100px);
    float: left;
    position: relative;
    z-index: 121;
    border-right: 2px solid $panel-delimiter-color;
    background: $devices-groups-bg;

    &__overview {
      @include transition;
      height: 60px;
      padding: 15px;
      border-left: 4px solid transparent;
      margin-left: -10px;
      border-bottom: 1px solid black;
      color: $devices-group-text;
      font-size: 14px;
      cursor: pointer;
      &--selected {
        margin-left: 0;
        border-left-color: $color-mint;
        color: $color-mint;
      }
    }

    &__overview-button {
      background: transparent;
      padding: 5px 15px;
      border: none;
    }

    &__header {
      font-weight: bold;
      text-transform: uppercase;
      height: 40px;
      padding: 0 25px;
      display: flex;
      align-items: center;
      color: $device-hardware-header;
    }

    &__title {
      color: $devices-group-inactive;
      font-size: 10px;
      text-transform: uppercase;
      height: 45px;
      display: flex;
      align-items: center;
      padding: 0 10px 0 25px;
      font-weight: bold;
      position: relative;
      justify-content: space-between;
    }

    &__wrapper {
      height: calc(100% - 100px);
      overflow-y: auto;
    }

    &__icon-secondary {
      cursor: pointer;
      width: 20px;

      &:hover {
        background-image: url($device-secondary-questionmark-active);
        background-size: contain;
      }
    }

    &__primary {
      position: relative;
      padding-bottom: 20px;
      border-bottom: 1px solid $dashboard-header-text;
    }

    &__hardware-label {
      color: $dashboard-header-text;
      border: 1px solid $dashboard-header-text;
      margin-bottom: 10px;
      margin-left: 2px;
    }

    &__ecu {
      @include transition;
      color: $devices-group-text;
      padding-left: 25px;
      border-left: 4px solid transparent;
      position: relative;
      margin-left: -10px;
      height: 90px;
      display: flex;
      align-items: center;

      &--selected {
        color: #fff;
        margin-left: 0;
        border-left-color: $color-mint;

        .hardware-panel__hardware-label {
          color: #fff;
          border: 1px solid #fff;
        }
      }

      &:hover {
        color: #fff;

        .hardware-panel__hardware-label {
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }

    &__ecu-desc {
      width: 70%;
      @include textoverflowEllipsis;
    }

    &__ecu-actions {
      position: absolute;
      right: 12px;
      top: 20px;
    }

    &__ecu-action {
      display: inline-block;

      &--key {
        margin-left: 5px;
      }

      &--key-size {
        width: 18px;
        height: 18px;
      }

      &--details-size {
        width: 20px;
        height: 20px;
      }
    }

    &__no-ecus {
      padding: 10px 25px;
      color: $devices-group-text;
    }
  }

  .overview-panel {
    background: white;
    overflow-y: auto;
    font-family: 'Fira Sans', sans-serif;

    &__list {
      height: calc(100vh - 240px);
      line-height: 22px;
      overflow-y: auto;
    }

    &__empty {
      font-size: 18px;
      font-weight: 400;
    }

    &__item {
      margin: 15px;
      padding-top: 15px;
      padding-bottom: 5px;
      position: relative;
      background-color: #f3f3f4;
      &-history {
        padding-bottom: 0;
      }
    }

    &__item-header {
      padding: 0 25px;
      &--title {
        font-weight: bold;
        color: #494949;
        font-size: 16px;
        margin-bottom: 5px;
        &__queue {
          display: flex;
          justify-content: space-between;
        }
        &__label {
          padding-right: 10px;
        }
      }
      &__label {
        padding-right: 10px;
        font-weight: 500;
      }
      &--created {
        color: #888;
        font-size: 12px;
      }
      &--update {
        display: flex;
        &__name {
          flex: 1;
          width: 50%;
          overflow-wrap: break-word;
        }
        &__description {
          flex: 1;
          width: 50%;
          overflow-wrap: break-word;
        }
      }
    }

    &__operations {
      margin-top: 15px;
    }

    &__operation {
      background-color: #fff;
      box-shadow: 0 1px 7px #ccc;
      border-radius: 5px;
      margin: 15px;

      &-events {
        margin-top: 10px;
      }

      &__queued {
        position: relative;
      }
    }

    &__label {
      &--queued {
        position: absolute;
        display: inline-block;
        font-size: 11px;
        font-weight: normal;
        background: $device-pack-queued-bg;
        padding: 0 14px;
        border-radius: 10px;
        color: #fff;
        right: 15px;
        top: 10px;
      }
    }

    &__operation-info {
      padding: 15px 25px;
      &-line {
        display: flex;
        padding-bottom: 2px;
      }
      &-block {
        flex: 1;
        width: 50%;
        padding-right: 70px;
        overflow-wrap: break-word;
        &--event {
          display: flex;
        }
      }
      &--label {
        padding-right: 6px;
        font-weight: 500;
      }
    }

    &__operation-status {
      display: flex;
      flex-direction: column;
      & > div {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &__operation-info-failure {
      margin-top: 10px;
    }

    &__event-title {
      display: flex;
      align-items: center;
      width: 180px;
    }

    &__event-icon {
      width: 14px;
      height: 14px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-size: 100%;
      &--Error {
        background-image: url($device-status-error);
      }

      &--Pending {
        background-image: url($device-status-unknown);
      }

      &--Success {
        background-image: url($device-status-success);
      }
    }

    &__status-code {
      color: #fff;

      &--success {
        background-color: $device-pack-installed-bg;
      }

      &--error {
        background-color: $campaigns-cancel-color;
      }
      &-value {
        padding-left: 10px;
      }
    }

    &__status-text {
      color: #fff;
      background-color: #4b4b4b;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &__cancel-update,
    &__pending {
      background: none;
      border: 0;
      border-radius: 0;
      transition: all 0.2s ease-in;
      color: $dashboard-grey;
      font-size: 12px;
    }

    &__cancel-update {
      color: $campaigns-cancel-color;
      font-weight: 400;
    }

    &__status {
      color: #fff;
      background: #ccc;
      padding: 15px 25px;
      height: 50px;
      font-size: 14px;

      &--success {
        background-color: $device-pack-installed-bg;
      }

      &--pending {
        background-color: $device-pack-queued-bg;
      }

      &--error {
        background-color: $campaigns-cancel-color;
      }
    }

    .ant-tabs-nav-container {
      padding-top: 10px;
      padding-left: 10px;
      background-color: $add-button-grey;
      height: 60px;
    }

    .ant-tabs-tab {
      width: 175px;
      text-align: center;
      border-radius: 3px 3px 0 0;
      border: none;
      background-color: transparent;
      font-weight: 500;
      color: #898b91;
      line-height: 47px;
      height: 50px;
      .lalal {
        color: pink;
      }
      &-active {
        color: black;
        background-color: $color-white;
        &:after {
          margin: -6px auto;
          content: '';
          display: block;
          width: 100px;
          height: 3px;
          background-color: $switch-blue-color;
          position: absolute;
          right: 0;
          left: 0;
        }
      }
    }
  }

  .software-panel {
    width: 45%;
    height: calc(100% - 100px);
    float: left;
    z-index: 120;
    border-right: 2px solid $panel-delimiter-color;

    &__wrapper {
      position: relative;
      height: calc(100% - 45px);
      background: #fff;
    }

    &__item-versions-nr {
      color: #b5b7b9;
      margin-left: 10px;
      font-size: 12px;
    }

    &__item {
      background: #fff;
      height: 60px;
      padding: 0 25px;
      border-bottom: 1px solid #ddd;
      @include transition;
      background: $device-item-bg;
      color: $devices-group-text;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &--selected {
        background: $device-active-item-bg;
        border-bottom: none;

        .software-panel__item-name {
          font-size: 14px;
          color: $dashboard-bg;
        }

        .software-panel__item-versions-nr {
          color: $dashboard-header-text;
          line-height: 20px;
        }
      }
    }

    &__auto-update {
      color: $dashboard-header-text;
      font-size: 10px;
      display: flex;
      align-items: center;
    }

    &__item-left,
    &__item-right {
      display: flex;
    }

    &__label {
      float: right;
      font-size: 11px;
      font-weight: normal;
      cursor: pointer;
      background: #369e47;
      padding: 2px 14px;
      float: right;
      border-radius: 10px;
      color: #fff;
      line-height: 1;

      &:not(:last-child) {
        margin-left: 10px;
      }

      &--auto-update {
        background: $device-pack-auto-update;
      }

      &--installed {
        background: $device-pack-installed-bg;
      }

      &--queued {
        background: $device-pack-queued-bg;
      }

      &--blacklisted {
        background: red;
      }
    }

    &__item-unmanaged {
      height: 90px;
      padding: 0 40px;
      border-bottom: 1px solid #ddd;
      color: #9fa2a6;
      cursor: pointer;
      background: #d3d3d3;
      display: flex;
      align-items: center;
    }

    &__item-unmanaged-left {
      text-align: left;
      width: 70%;
    }

    &__item-unmanaged-subtitle {
      width: 25%;
      display: inline-block;
    }

    &__item-unmanaged-value {
      width: 75%;
      display: inline-block;
      @include textoverflowEllipsis;
    }

    &__item-unmanaged-block {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__details {
      margin: 0;
    }

    &__version {
      cursor: pointer;
      padding: 15px 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-left: 4px solid transparent;
      @include transition;
      border-bottom: 1px solid #e1e1e1;

      &:hover {
        background: #eee;
      }

      &--selected {
        border-left: 4px solid $color-mint;
      }
    }

    &__version-left {
      width: 70%;
    }

    &__version-block {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__version-subtitle {
      width: 25%;
    }

    &__version-value {
      width: 75%;
      @include textoverflowEllipsis;
    }

    &__version-right {
      display: flex;
      flex-direction: column;
      width: 30%;
      align-items: flex-end;
    }

    &__version-icon {
      width: 25px;
      height: 25px;

      &--queued {
        color: $device-pack-queued-bg;
        position: static;
      }
    }

    &__auto-update-tip {
      color: #fff;
      text-align: center;
      background: $switch-blue-color;
      padding: 10px 25px;
    }
  }

  .properties-panel {
    width: 35%;
    height: calc(100% - 100px);
    float: left;
    z-index: 119;
    position: relative;

    &__wrapper {
      height: calc(100% - 45px);
      position: relative;
      background: #fff;
      overflow-y: auto;
    }

    &__bottom-status {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;

      &--green {
        background-color: $device-pack-installed-bg;
      }

      &--orange {
        background-color: $device-pack-queued-bg;
      }

      &--grey {
        background-color: #666666;
      }

      &--red {
        background-color: red;
      }
    }

    &__info {
      padding: 35px;
      height: $main-content-height;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    &__info.queued {
      height: calc(100% - 150px);
    }

    &__info.not-installed {
      height: calc(100% - 100px);
    }

    &__info-heading {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__info-title {
      font-weight: bold;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 65%;
    }

    &__info-status {
      width: 35%;
      text-align: right;
      font-weight: bold;
      font-size: 10px;
      color: $device-hardware-header;
    }

    &__info-status-icon {
      width: 17px;
      margin: 0 0 5px 8px;

      &--queued {
        font-size: 2em;
        margin: 0 0 5px 8px;
      }
    }

    &__info-data {
      color: $device-properties-text;
      margin-bottom: 15px;
    }

    &__info-data-block {
      overflow: hidden;
      line-height: 26px;
    }

    &__info-data-subtitle {
      width: 25%;
      float: left;
    }

    &__info-data-value {
      width: 70%;
      float: left;
      @include textoverflowEllipsis;
    }

    &__info-comment {
      flex: auto;
      display: flex;
      flex-direction: column;
    }

    &__info-comment-title {
      color: $device-hardware-header;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    &__info-comment-value {
      border: 0;
      border-top: 1px solid $add-button-grey;
      resize: none;
      cursor: default;
      background-color: transparent;
      width: 100%;
      font-size: 12px;
      padding: 5px 0;
      flex: auto;
    }

    &__install {
      position: absolute;
      bottom: 50px;
      width: 100%;
      height: 100px;
      padding: 20px;
      border: 1px solid $add-button-grey;
    }

    &__install.not-installed {
      bottom: 0px;
    }

    &__install-button {
      width: 100%;
      height: 60px;
      font-size: 22px;
      font-weight: 300;
    }

    &__install-button.disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
