/** @format */

@import '../variables-ota';
@import '../mixins';

#page-campaigns {
  padding: 30px;
  background-color: $home-bg;
  height: calc(100vh - 50px);

  .content {
    .content-empty {
      background: #fff;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.tab-item {
  color: $color-lightgrey !important;
  font-family: 'Fira Sans', sans-serif !important;

  &--active {
    color: black !important;
    background: #f3f3f4 !important;

    &:after {
      margin: 5px auto 0;
      content: '';
      display: block;
      width: 100px;
      height: 3px;
      background-color: $switch-blue-color;
    }
  }

  & > div {
    & > div {
      text-transform: none;
      height: 30px !important;
    }
  }
}

.campaigns {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: block;
  position: relative;
  background-color: $color-grey;

  &__header {
    position: fixed;
    z-index: 2;
    color: $home-header-text;
    font-size: 12px;
    font-weight: 700;
    background: #d3d3d3;
    width: calc(100vw - 60px);
    height: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: $home-grey;
    padding: 0 25px;
  }

  &__header-link {
    position: absolute;
    z-index: 3;
    right: 25px;
  }

  &__column {
    display: inline-block;
    vertical-align: top;
    width: 14%;
    text-align: center;

    &:first-child {
      width: 15%;
      text-align: left;
    }

    &--additional-info {
      text-align: right;
      * {
        font-weight: 500;
        color: $home-header-button !important;
      }
    }
  }

  &__wrapper {
    height: 100%;
  }

  &__list {
    background-color: #fff;
    // height: calc(100vh - 145px);
    position: relative;
    top: 40px;
    width: calc(100vw - 60px);

    &--empty {
      background-color: #fff;
      position: relative;
      top: 40px;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 25px;
      color: $devices-group-text;
      font-size: 12px;
    }
  }

  &__item {
    cursor: pointer;
    height: 60px;
    border-bottom: 1px solid #ddd;
    @include transition;
    display: flex !important;
    align-items: center;
    font-size: 12px;
    color: $devices-group-text;
    padding: 0 25px;
    background: $device-item-bg;
  }
}

.statistics {
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  background: $device-item-bg;

  &__campaign-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    padding-left: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
  }

  &__campaign-actions {
    display: flex;
    align-items: center;

    .dots {
      position: relative;
      top: 0;
      right: 0;

      span {
        background-color: $color-mint;
        width: 4px;
        heigth: 4px;
      }
    }
  }

  &__wrapper {
    display: flex;
    padding: 0 25px;
  }

  &__box {
    &--left {
      padding-top: 25px;
    }

    &--right {
      flex: auto;
      background: #fff;
    }
  }

  &__box-title {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: $devices-group-text;
  }

  &__failure-chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__failure-rate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $home-bg;
    font-weight: 400;
  }

  &__blocks {
    margin-bottom: 20px;
  }

  &__processed {
    font-size: 12px;
    display: inline-block;
    margin-right: 25px;
    color: $campaign-details-text;
  }

  &__affected {
    font-size: 12px;
    display: inline-block;
    color: $campaign-details-text;
  }

  &__count {
    font-size: 18px;
    margin-right: 5px;
    font-weight: 500;
    color: #000;
  }

  &__installation {
    display: flex;
  }

  &__dependencies {
    flex-basis: 15%;
    text-align: right;
  }

  &__bar-wrapper {
    flex: auto;
  }

  &__bar {
    height: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__bar-item {
    &--failure {
      height: 10px;
      background-color: #fe0001;
      float: left;
    }

    &--success {
      height: 10px;
      background-color: #83d060;
      float: left;
    }

    &--queued {
      height: 10px;
      background-color: #f5a623;
      float: left;
    }

    &--not-proceed {
      height: 10px;
      background-color: #f3f3f4;
      float: left;
    }

    &--not-impacted {
      height: 10px;
      background-color: #9fa2a6;
      float: left;
    }

    &--cancelled {
      height: 10px;
      background-color: #6f737a;
      float: left;
    }
  }

  &__progress {
    padding: 40px;
  }

  &__legend {
    color: $device-hardware-header;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }

  &__legend-item-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 10px;

    &--success {
      background-color: #fe0001;
    }

    &--failure {
      background-color: #fe0001;
    }

    &--success {
      background-color: $progress-default-color;
    }

    &--queued {
      background-color: #f5a623;
    }

    &--not-proceed {
      background-color: #f3f3f4;
    }

    &--not-impacted {
      background-color: #9fa2a6;
    }

    &--cancelled {
      background-color: #6f737a;
    }
  }

  &__legend-item-title {
    margin-right: 10px;
    display: inline-block;
  }

  &__legend-item-count {
    display: inline-block;
  }
}

.codes {
  &__no-items{
    padding: 0 40px 20px;
  }

  &__heading {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    height: 60px;
    font-weight: 500;
    font-size: 12px;
    color: $devices-group-text;
    border-bottom: 1px solid #f3f3f4;
    border-top: 1px solid #f3f3f4;
    align-items: center;
  }

  .col-name {
    width: 15%;
  }

  .col-progress {
    width: 60%;
  }

  .col-numbers {
    width: 15%;
    align-content: center;
  }

  .col-actions {
    width: 10%;
    align-content: center;
    .failure_report {
      cursor: pointer;
    }
  }

  &__item {
    display: flex;
    height: 60px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #f3f3f4;

    .col-name {
      font-weight: 500;
    }
  }

  &__item-progress-wrapper {
    height: 20px;
    background-color: #f3f3f4;
    display:flex;
  }

  &__item-progress-value {
    background-color: white;
    padding-right: 10px;
  }

  &__item-progress-bar {
    height: 20px;
    margin: 0;
    position: relative;
    border-radius: 0;
    background-color: #D35566;
  }
}
