/** @format */

@import '../variables-ota';
@import '../mixins';

#page-campaigns {
  background-color: $dashboard-bg;

  .content {
    .content-empty {
      background: #fff;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.tab-item {
  color: $color-lightgrey !important;
  font-family: 'Fira Sans', sans-serif !important;

  &--active {
    color: black !important;
    background: #f3f3f4 !important;

    &:after {
      margin: 5px auto 0;
      content: '';
      display: block;
      width: 100px;
      height: 3px;
      background-color: $switch-blue-color;
    }
  }

  & > div {
    & > div {
      text-transform: none;
      height: 30px !important;
    }
  }
}

.campaigns {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  display: block;
  position: relative;
  background-color: $color-grey;
  height: calc(100vh - 100px);

  &__header {
    position: fixed;
    z-index: 2;
    color: $dashboard-header-text;
    font-size: 12px;
    font-weight: 700;
    background: #d3d3d3;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: $dashboard-grey;
    padding: 0 25px;
  }

  &__header-link {
    position: absolute;
    z-index: 3;
    right: 25px;
  }

  &__column {
    display: inline-block;
    vertical-align: top;
    width: 14%;
    text-align: center;

    &:first-child {
      width: 15%;
      text-align: left;
    }

    &--additional-info {
      text-align: right;
      * {
        font-weight: 500;
        color: $dashboard-header-button !important;
      }
    }
  }

  &__wrapper {
    height: 100%;
  }

  &__list {
    background-color: #fff;
    position: relative;
    top: 40px;
    overflow-y: auto;
    height: calc(100% - 73px);

    &--empty {
      background-color: #fff;
      position: relative;
      top: 40px;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 25px;
      color: $devices-group-text;
      font-size: 12px;
    }
  }

  &__item {
    cursor: pointer;
    height: 60px;
    border-bottom: 1px solid #ddd;
    @include transition;
    display: flex !important;
    align-items: center;
    font-size: 12px;
    color: $devices-group-text;
    padding: 0 25px;
    background: $device-item-bg;
  }
}

.statistics {
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  background: $device-item-bg;

  &__campaign-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    padding-left: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
  }

  &__campaign-actions {
    display: flex;
    align-items: center;

    .dots {
      position: relative;
      top: 0;
      right: 0;

      span {
        background-color: $color-mint;
        width: 4px;
        height: 4px;
      }
    }
  }

  &__wrapper {
    display: flex;
    padding: 0 40px;
    flex-direction: column;
  }

  &__box-title {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: $devices-group-text;
  }

  &__blocks {
    margin-bottom: 20px;
  }

  &__processed {
    font-size: 12px;
    display: inline-block;
    margin-right: 25px;
    color: $campaign-details-text;
  }

  &__affected {
    font-size: 12px;
    display: inline-block;
    color: $campaign-details-text;
  }

  &__count {
    font-size: 18px;
    margin-right: 5px;
    font-weight: 500;
    color: #000;
  }

  &__installation {
    display: flex;
  }

  &__dependencies {
    flex-basis: 15%;
    text-align: right;
  }

  &__bar-wrapper {
    flex: auto;
  }

  &__bar {
    height: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__bar-item {
     height: 10px;
     float: left;
  }

  &__progress {
    padding-bottom: 40px;
  }

  &__legend {
    color: $device-hardware-header;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }

  &__legend-item-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 10px;

  }
  &__legend-item-color, &__bar-item {

    &--success {
      background-color: $campaign-success-color;
    }

    &--failure {
      background-color: $campaign-failure-color;
    }

    &--queued {
      background-color: $campaign-queued-color;
    }

    &--not-proceed {
      background-color: $campaign-notProcessed-color;
    }

    &--not-impacted {
      background-color: $campaign-notImpacted-color;
    }

    &--cancelled {
      background-color: $campaign-cancelled-color;
    }
  }
}

.codes {
  &__heading {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    height: 60px;
    font-weight: 500;
    font-size: 12px;
    color: $devices-group-text;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    align-items: center;
  }

  .col-name {
    width: 46%;
    text-align: left;
    padding-right: 16px;
  }

  .col-progress {
    width: 34%;
  }

  .col-numbers {
    width: 15%;
    align-content: center;
  }

  .col-actions {
    width: 10%;
    align-content: center;
    align-items: center;
    .failure_report {
      cursor: pointer;
    }
    .retry-button, .ant-btn[disabled]  {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }

  &__item {
    display: flex;
    height: 60px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #f3f3f4;

    .col-name {
      font-weight: 500;
    }
  }

  &__item-progress-wrapper {
    height: 20px;
    background-color: white;
    display:flex;
  }

  &__item-progress-value {
    font-size: 10px;
    font-weight: 700;
    color: white;
    position: absolute;
    width: 40px;
    left: 50%;
    top: 3px;
    margin-left: -20px;
  }

  &__item-progress-bar {
    height: 20px;
    margin: 0;
    position: relative;
    border-radius: 0;
    background-color: $campaign-failure-color;
  }
}
