/** @format */

@import '../variables-ota';
@import '../mixins';

#page-get-started {
  overflow-y: auto;
  height: calc(100% - 50px);
  .get-started-header {
    padding: 0 200px;
    height: 40vh;
    color: white;
    display: flex;
    align-items: center;
    background: url($background-get-started-blog);
    &__image {
      width: 150px;
      height: 150px;
      background: url($bell-icon);
      margin-right: 30px;
    }
    &__title {
      width: 40%;
      .description {
        font-size: 20px;
      }
    }
  }
  .get-started-content {
    padding: 1px 200px;
    background-color: white;
    .item {
      margin: 100px 0;
      &__title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
      }
      &__content {
        display: flex;
        &__image-box {
          flex: 1;
          img {
            width: 100%;
            height: auto;
          }
        }
        &__description-box {
          flex: 1;
          margin-left: 70px;
          ol {
            list-style-type: decimal;
          }
          ul {
            list-style-type: disc;
          }
          li {
            list-style-type: inherit;
            margin-left: 20px;
          }
          img {
            max-height: 20px;
          }
        }
      }
    }
  }
}
