/** @format */

@import '../variables-ota';
@import '../mixins';

#page-whats-new {
  overflow-y: auto;
  .whats-new-header {
    padding: 0 200px;
    height: 40vh;
    color: white;
    display: flex;
    align-items: center;
    background: url($background-whats-new-blog);
    &__image {
      width: 150px;
      height: 150px;
      background: url($bell-icon);
      margin-right: 30px;
    }

    &__title {
      width: 40%;
      .description {
        font-size: 20px;
      }
    }
  }
  .whats-new-content {
    padding: 1px 200px;
    background-color: white;
    .item {
      display: flex;
      align-items: center;
      margin: 100px 0;

      .image-box {
        flex: 1;
        img {
          width: 100%;
          height: auto;
        }
      }

      .description-box {
        flex: 1;
        margin-left: 70px;
        .title {
          font-size: 30px;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }

      &:nth-child(2n) {
        flex-direction: row-reverse;
        .description-box {
          margin-left: 0;
          margin-right: 70px;
        }
      }
    }
  }
}
